﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>FOSTERing Linux Training App</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    
    <link href="/stylesheets/awesome-font/css/font-awesome.css" rel="stylesheet">
    <link href='/stylesheets/awesome-font/css/font-logo.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/login.css' rel='stylesheet' type='text/css'>
    
  
  
</head>
<body>