<!DOCTYPE html>
<html>
<head>
    <title>Enroll Student</title>
</head>
 
<body>

<div ng-app="trainingApp">  
<div class="form-container">
<!--div class=" vdivide" style="margin-top:10px;"-->
<div class="col-sm-8">

<h2>Enroll Student</h2>
<form name=enrollStudent ng-submit="stu.createStudent() && enrollStudent.$valid">

    <div class="form-group row">
    <label for="candName" class="col-sm-2 form-control-label">Name </label>
    <div class="col-sm-8">
    <input type="text" name="candName" id="candName" class="form-control" ng-model="stu.candname" ng-disabled="stu.candname" />
    </div>
    </div>
    
    <div class="form-group row">
    <label for="candMail" class="col-sm-2 form-control-label">Email </label>
    <div class="col-sm-8">
    <input type="email" name="candMail" id="candMail" class="form-control" ng-model="stu.candmail" ng-disabled="stu.candmail" />
    </div>
    </div>

    <div class="form-group row">
    <label for="candNum" class="col-sm-2 form-control-label">Contact Number </label>
    <div class="col-sm-8">
    <input type="text" name="candNum" id="candNum" class="form-control" ng-model="stu.candnum" ng-disabled="stu.candnum" />
    </div>
    </div>

    <div class="form-group row">
    <label for="stuLoc" class="col-sm-2 form-control-label">Training Location</label>
    <div class="col-sm-8">
    <input type="text" name="stuLoc" id="stuLoc" class="form-control" ng-model="stu.loc" ng-disabled="stu.loc" />
    </div>
    </div>

    <div class="form-group row">
    <label for="stuCou" class="col-sm-2 form-control-label">Course</label>
    <div class="col-sm-8">
    <input type="text" name="stuCou" class="form-control" ng-model="stu.course"ng-disabled="stu.course" />
    </div>
    </div>

    <div class="form-group row">
    <label for="courseFee" class="col-sm-2 form-control-label">Suggested Fee</label>
    <div class="col-sm-8">
    <div class="input-group">
    <div class="input-group-addon">INR</div>
    <input type="number" name="courseFee" id="courseFee" class="form-control" ng-model="stu.fee" ng-disabled="true">
    </div>
    </div>
    </div>  

     <!--uib-accordion class="form-group row col-sm-10">

    <div uib-accordion-group class="panel-default" is-open="cou.open">
      <uib-accordion-heading>Course Fee Breakup<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': cou.open, 'glyphicon-chevron-right': !cou.open}"></i>
      </uib-accordion-heading>
    </div>
    </uib-accordion-->  

    <button type="button" class="btn btn-default" ng-click="stu.isCollapsed = !stu.isCollapsed">Course Fee Breakup</button>
    <p></p>
    <div uib-collapse="stu.isCollapsed">
      
    <div class="form-group row">
    <label for="coursrRegFee" class="col-sm-2 form-control-label">Registration Fee</label>
    <div class="col-sm-4">
    <div class="input-group">
    <div class="input-group-addon">INR</div>
    <input type="number" name="coursrRegFee" id="coursrRegFee" class="form-control" ng-model="stu.couRegFee" ng-disabled="stu.fee">
    </div>
    </div>
    </div> 

    <div class="form-group row">
    <label for="coursrFirInsFee" class="col-sm-2 form-control-label">1st Installment Fee</label>
    <div class="col-sm-4">
    <div class="input-group">
    <div class="input-group-addon">INR</div>
    <input type="number" name="coursrFirInsFee" id="coursrFirInsFee" class="form-control" ng-model="stu.couFInsFee" ng-disabled="stu.fee">
    </div>
    </div>
    </div>  


    <div class="form-group row">
    <label for="coursrSecInsFee" class="col-sm-2 form-control-label">2nd Installment Fee</label>
    <div class="col-sm-4">
    <div class="input-group">
    <div class="input-group-addon">INR</div>
    <input type="number" name="coursrSecInsFee" id="coursrSecInsFee" class="form-control" ng-model="stu.couSInsFee" ng-disabled="stu.fee">
    </div>
    </div>
    </div>  

    </div>


 
    <div class="form-group row">
    <label for="stuFeeSta" class="col-sm-2 form-control-label">Fee Submission Status <span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="stuFeeSta" id="stuFeeSta" ng-model="stu.feeSta" ng-disabled="stu.isEdit" ng-change="resetFeeFields" ng-init="stu.feeSta = stu.feeSta || stu.feeStatusOptions[0].value" ng-options="option.value as option.name for option in stu.feeStatusOptions" > </select>
    </div>
    </div>

    <!-- In case of Full Amount Submitted -->
    <div ng-show="stu.feeSta == stu.feeStatusOptions[1].value">
    <div class="form-group row">
    <label for="stuFeeSubDate" class="col-sm-2 form-control-label">Fee Submitted Date <span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <div class="input-group">
    <input type="text" name="stuFeeSubDate" id="stuFeeSubDate" class="form-control"  uib-datepicker-popup="{{stu.format}}" ng-disabled="stu.isEdit || stu.feeSta == stu.feeStatusOptions[0].value" ng-model="stu.feeSubmDate" is-open="stu.popup1.opened" datepicker-options="stu.dateOptions" ng-required="stu.feeSta == stu.feeStatusOptions[1].value" close-text="Close" /> <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="stu.open1()" ><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    </div>
    </div>
    </div>

    <div class="form-group row">
    <label for="courseActFee" class="col-sm-2 form-control-label">Submitted Fee Amount<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <div class="input-group">
    <div class="input-group-addon">INR</div>
    <input type="number" name="courseActFee" id="courseActFee" class="form-control" min="0.00" max="1000000" ng-model="stu.actSubmFee" ng-disabled="stu.isEdit || stu.feeSta == stu.feeStatusOptions[0].value" ng-required="stu.feeSta == stu.feeStatusOptions[1].value">
    </div>
    </div>
    </div>

    </div>

    <!-- In case Partial Amount Submitted-->
    <div ng-show="stu.feeSta == stu.feeStatusOptions[2].value">

    <div class="form-group row">
    <label for="stuRegisFeeSubDate" class="col-sm-2 form-control-label">Registration Fee Submission Date <span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <div class="input-group">
    <input type="text" name="stuRegisFeeSubDate" id="stuRegisFeeSubDate" class="form-control"  uib-datepicker-popup="{{stu.format}}" ng-disabled="stu.isEdit || stu.feeSta == stu.feeStatusOptions[0].value"  ng-model="stu.feeSubmDate" is-open="stu.popup1.opened" datepicker-options="stu.dateOptions" ng-required="stu.feeSta == stu.feeStatusOptions[2].value" close-text="Close" /> <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="stu.open1()" ><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    </div>
    </div>
    </div>

    <div class="form-group row">
    <label for="courseRegFee" class="col-sm-2 form-control-label">Submitted Registration Fee <span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <div class="input-group">
    <div class="input-group-addon">INR</div>
    <input type="number" name="courseRegFee" id="courseRegFee" class="form-control" min="0.00" max="1000000" ng-model="stu.regisFee" ng-disabled="stu.isEdit || stu.feeSta == stu.feeStatusOptions[0].value" ng-required="stu.feeSta == stu.feeStatusOptions[2].value" ng-change="stu.calSubmFee()">
    </div>
    </div>
    </div>

    <div class="form-group row">
    <label for="stuFInsFeeSubDate" class="col-sm-2 form-control-label">First Installment Fee Submission Date</label>
    <div class="col-sm-8">
    <div class="input-group">
    <input type="text" name="stuFInsFeeSubDate" id="stuFInsFeeSubDate" class="form-control"  uib-datepicker-popup="{{stu.format}}" ng-disabled="stu.isEdit || stu.feeSta == stu.feeStatusOptions[0].value"  ng-model="stu.firInsDate" is-open="stu.popup2.opened" datepicker-options="stu.dateOptions"  close-text="Close" /> <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="stu.open2()" ><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    </div>
    </div>
    </div>

    <div class="form-group row">
    <label for="courseFInsFee" class="col-sm-2 form-control-label">Submitted First Installment Fee</label>
    <div class="col-sm-8">
    <div class="input-group">
    <div class="input-group-addon">INR</div>
    <input type="number" name="courseFInsFee" id="courseFInsFee" class="form-control" min="0.00" max="1000000" ng-model="stu.firInsFee" ng-disabled="stu.isEdit || stu.feeSta == stu.feeStatusOptions[0].value" ng-change="stu.calSubmFee()">
    </div>
    </div>
    </div>


    <div class="form-group row">
    <label for="courseActFee" class="col-sm-2 form-control-label">Total Submitted Fee<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <div class="input-group">
    <div class="input-group-addon">INR</div>
    <input type="number" name="courseActFee" id="courseActFee" class="form-control" min="0.00" max="1000000" ng-model="stu.actSubmFee" ng-disabled="stu.feeSta == stu.feeStatusOptions[2].value" ng-required="stu.feeSta == stu.feeStatusOptions[2].value">
    </div>
    </div>
    </div>
    

    </div>

    <div class="form-group row">
    <label for="stuBatStatus" class="col-sm-2 form-control-label">Status<span style="color:red;">*</span></label>
    <div class="col-sm-8">

    <select class="form-control text-center" name="stuBatStatus" id="stuBatStatus" ng-model="stu.batStatus" ng-disabled="stu.isEdit || stu.feeSta == stu.feeStatusOptions[0].value" ng-init="stu.batStatus = stu.batStatus || stu.batStatusOptions[0].value" ng-options="option.value as option.name for option in stu.batStatusOptions"> 
    </select>
    </div>
    
    <div class="helptext" helptext>
    <button type="button" class="btn btn-default" ng-click="stu.findBatch()" ng-disabled="!(stu.batStatus==stu.batStatusOptions[1].value)"><i class="fa fa-search"></i></button>
    <span class="helptext-span">Find Batch</span>
    </div>   

    </div>

	<div class="form-group row">
    <label for="batchId" class="col-sm-2 form-control-label">Batch ID</label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="batchId" id="batchId" ng-model="stu.batchId" ng-disabled="stu.isEdit" ng-required="stu.batStatus==stu.batStatusOptions[1].value" ng-options="batch.id as batch.id for batch in stu.batchList">
    </select>
    </div>
    </div>
	
    <div class="form-group row">
    <label for="stuRemarks" class="col-sm-2 form-control-label">Remarks</label>
    <div class="col-sm-8">
    <input type="text" name="stuRemarks" id="stuRemarks" class="form-control" autocomplete="on" maxlength="200" ng-disabled="stu.isEdit" ng-model="stu.remarks" />
    </div>
    </div>


    <div class="form-group row">
    <input type="submit" id="btnSubmit" class="btn btn-primary" value="Create Student"  ng-disabled="stu.isEdit || stu.feeSta == stu.feeStatusOptions[0].value"/>

    <input type="button"class="btn btn-primary" value="Back" onClick="history.go(-1);return true;"/>
    
    </div>

</form>
</div>	
</div>
<!--/div-->
</div>	
</body>
</html>
