<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>inquiry</title>




    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body>







<div  class="container col-md-offset-3" id="my">


    <div tabindex="0" ng-hide="myVal">
        <!--<form novalidate id="sub" ng-hide="myVal">-->
        <form name="myForm" novalidate  >

            <div class="col-md-8">
                <!--label>Choose Student</label>
                <select  class="form-control" id="inqdestrg" ng-model="strv.student" ng-change="tk(strv.student)" >
                    <option value="">Choose</option>
                    <option ng-repeat="c in strv.studlist" value="{{c._id}}">{{c.name}}</option>


                </select-->
                <h2 class="center-block text-center">Student Feedback Form</h2>
                <div id="pl1" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a><strong>Student Details</strong></a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel panel-default">
                            <md-content class="md-padding" style="background-color:lightblue">
                                <div style="background-color: whitesmoke" class="col-md-12">

                                    <br>
                                    <div class="col-md-6">
                                        <label>Date</label>
                                        <br>
                                        <input type="text" ng-disabled="true" id="date" ng-model="strv.date"
                                               class="form-control" >
                                    </div>

                                    <div class="col-md-6">
                                        <label>Student Name</label>
                                        <br>
                                        <input type="text" ng-disabled="true" id="name" ng-model="strv.name"
                                               class="form-control" >
                                        <br>
                                    </div>


                                    <div class="col-md-6">
                                        <label>Student Mail</label>
                                        <br>
                                        <input type="text" ng-disabled="true" id="mail" ng-model="strv.mail"
                                               class="form-control" >
                                    </div>

                                    <div class="col-md-6">
                                        <label>Student Id</label>
                                        <br>
                                        <input type="text" ng-disabled="true" id="id" ng-model="strv.id"
                                               class="form-control" >
                                        <br>
                                    </div>


                                    <div class="col-md-6">
                                        <label>Centre Name</label>
                                        <br>
                                        <input type="text" ng-disabled="true" id="center" ng-model="strv.center"
                                               class="form-control" >
                                    </div>

                                    <div class="col-md-6">
                                        <label>Faculty Name</label>
                                        <br>
                                        <input type="text" ng-disabled="true" id="Faculty" ng-model="strv.Faculty"
                                               class="form-control" >
                                        <br>
                                    </div>


                                    <div class="col-md-6">
                                        <label>Course</label>
                                        <br>
                                        <input type="text" ng-disabled="true" id="Course" ng-model="strv.Course"
                                               class="form-control" >
                                    </div>





                                    <div class="col-md-6">
                                        <label>Batch Id</label>
                                        <br>
                                        <input type="text" ng-disabled="true" id="batchid" ng-model="strv.batchid"
                                               class="form-control" >
                                        <br>
                                    </div>




                                    <br>
                                    <br>
                                    <br>


                                </div>

                            </md-content>
                        </div>
                    </div>
                </div>

                  <div id="pl2" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a> <strong>About Faculty</strong></a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel panel-default">
                            <md-content class="md-padding" style="background-color:lightblue">
                                <div style="background-color: whitesmoke" class="col-md-12">

                                    <br>




                                    <h3 class="center-block text-center"><u>DISCIPLINE</u></h3>
                                    <br>

<div class="row">

                                    <div class="col-md-4">
                                        <label>1. DOES YOUR LECTURE START ON TIME?</label>




                                    </div>

                                    <div class="col-md-4">

                                        <jk-rating-stars min-rating="0" max-rating="4" rating="strv.firstRate"

                                                         ng-model="strv.firstRate"></jk-rating-stars>





                                    </div>
                                    <div class="col-md-4">
                                        <button ng-show="strv.firstRate == 1"
                                                type="button" class="btn btn-danger">Poor</button>
                                        <button ng-show="strv.firstRate == 2"
                                                type="button" class="btn btn-warning">Average</button>
                                        <button ng-show="strv.firstRate == 3"
                                                type="button" class="btn btn-primary">Good</button>
                                        <button ng-show="strv.firstRate == 4"
                                                type="button" class="btn btn-success">Excellent</button>
                                        <br>
                                    </div>
</div>
                                    <br>
                                    <div class="row">

                                    <div class="col-md-4">
                                        <label>2. ARE YOUR LECTURES CONDUCTED REGULARLY?</label>
                                   </div>

                                    <div class="col-md-4">

                                        <jk-rating-stars max-rating="4" rating="strv.secondRate"

                                                         ng-model="strv.secondRate" ></jk-rating-stars>



                                    </div>

                                    <div class="col-md-4">
                                        <button ng-show="strv.secondRate == 1"
                                                type="button" class="btn btn-danger">Poor</button>
                                        <button ng-show="strv.secondRate == 2"
                                                type="button" class="btn btn-warning">Average</button>
                                        <button ng-show="strv.secondRate == 3"
                                                type="button" class="btn btn-primary">Good</button>
                                        <button ng-show="strv.secondRate == 4"
                                                type="button" class="btn btn-success">Excellent</button>

                                    </div>

                                    </div>
                                    <br>
                                    <div class="row">

                                    <div class="col-md-4">
                                        <label>3. ARE YOUR LECTURES ON FOR THE ALLOCATED TIME?</label>




                                    </div>

                                    <div class="col-md-4">

                                        <jk-rating-stars max-rating="4" rating="strv.thirdRate"

                                                         ng-model="strv.thirdRate"  ></jk-rating-stars>



                                    </div>


                                    <div class="col-md-4">
                                        <button ng-show="strv.thirdRate == 1"
                                                type="button" class="btn btn-danger">Poor</button>
                                        <button ng-show="strv.thirdRate == 2"
                                                type="button" class="btn btn-warning">Average</button>
                                        <button ng-show="strv.thirdRate == 3"
                                                type="button" class="btn btn-primary">Good</button>
                                        <button ng-show="strv.thirdRate == 4"
                                                type="button" class="btn btn-success">Excellent</button>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                    </div>

                                    <h3 class="center-block text-center"><u>TRAINING SKILLS</u></h3>
                                    <br>

                                    <div class="row">
                                    <div class="col-md-4">
                                        <label>4. TECHNICAL KNOWLEDGE OF THE SUBJECT?</label>




                                    </div>

                                    <div class="col-md-4">

                                        <jk-rating-stars max-rating="4" rating="strv.fourthRate"

                                                         ng-model="strv.fourthRate" ></jk-rating-stars>


                                        <br>
                                    </div>
                                    <div class="col-md-4">
                                        <button ng-show="strv.fourthRate == 1"
                                                type="button" class="btn btn-danger">Poor</button>
                                        <button ng-show="strv.fourthRate == 2"
                                                type="button" class="btn btn-warning">Average</button>
                                        <button ng-show="strv.fourthRate == 3"
                                                type="button" class="btn btn-primary">Good</button>
                                        <button ng-show="strv.fourthRate == 4"
                                                type="button" class="btn btn-success">Excellent</button>

                                    </div>

                                    </div>
                                    <br>
                                    <div class="row">

                                    <div class="col-md-4">
                                        <label>5. DOUBT SOLVING ABILITY?</label>




                                    </div>

                                    <div class="col-md-4">

                                        <jk-rating-stars max-rating="4" rating="strv.fifthRate"

                                                         ng-model="strv.fifthRate" ></jk-rating-stars>


                                    </div>
                                        <div class="col-md-4">
                                            <button ng-show="strv.fifthRate == 1"
                                                    type="button" class="btn btn-danger">Poor</button>
                                            <button ng-show="strv.fifthRate == 2"
                                                    type="button" class="btn btn-warning">Average</button>
                                            <button ng-show="strv.fifthRate == 3"
                                                    type="button" class="btn btn-primary">Good</button>
                                            <button ng-show="strv.fifthRate == 4"
                                                    type="button" class="btn btn-success">Excellent</button>

                                        </div>

                                    </div>
                                    <br>

                                    <h3 class="center-block text-center"><u>BATCH MANAGEMENT SKILLS</u></h3>
                                    <br>
                                    <br>

                                    <div class="row">
                                    <div class="col-md-4">
                                        <label>6. USE OF TEACHING AIDS  FOR TRAINING?</label>




                                    </div>

                                    <div class="col-md-4">

                                        <jk-rating-stars max-rating="4" rating="strv.sixthRate" ng-model="strv.sixthRate" ></jk-rating-stars>



                                    </div>

                                        <div class="col-md-4">
                                            <button ng-show="strv.sixthRate == 1"
                                                    type="button" class="btn btn-danger">Poor</button>
                                            <button ng-show="strv.sixthRate == 2"
                                                    type="button" class="btn btn-warning">Average</button>
                                            <button ng-show="strv.sixthRate == 3"
                                                    type="button" class="btn btn-primary">Good</button>
                                            <button ng-show="strv.sixthRate == 4"
                                                    type="button" class="btn btn-success">Excellent</button>

                                        </div>


                                    </div>
                                    <br>

                                    <div class="row">

                                    <div class="col-md-4">
                                        <label>7. CONDUCT OF PRACTICALS?</label>




                                    </div>

                                    <div class="col-md-4">

                                        <jk-rating-stars max-rating="4" rating="strv.seventhRate" ng-model="strv.seventhRate" ></jk-rating-stars>




                                    </div>

                                        <div class="col-md-4">
                                            <button ng-show="strv.seventhRate == 1"
                                                    type="button" class="btn btn-danger">Poor</button>
                                            <button ng-show="strv.seventhRate == 2"
                                                    type="button" class="btn btn-warning">Average</button>
                                            <button ng-show="strv.seventhRate == 3"
                                                    type="button" class="btn btn-primary">Good</button>
                                            <button ng-show="strv.seventhRate == 4"
                                                    type="button" class="btn btn-success">Excellent</button>

                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">

                                    <div class="col-md-4">
                                        <label>8. CONDUCT OF INTERNAL EXAMS ON MODULE COMPLETION?</label>




                                    </div>

                                    <div class="col-md-4">

                                        <jk-rating-stars max-rating="4" rating="strv.eightRate" ng-model="strv.eightRate" ></jk-rating-stars>




                                    </div>


                                        <div class="col-md-4">
                                            <button ng-show="strv.eightRate == 1"
                                                    type="button" class="btn btn-danger">Poor</button>
                                            <button ng-show="strv.eightRate == 2"
                                                    type="button" class="btn btn-warning">Average</button>
                                            <button ng-show="strv.eightRate == 3"
                                                    type="button" class="btn btn-primary">Good</button>
                                            <button ng-show="strv.eightRate == 4"
                                                    type="button" class="btn btn-success">Excellent</button>

                                        </div>


                                    </div>



                                    <br>
                                    <br>
                                    <br>


                                </div>

                            </md-content>
                        </div>
                    </div>
                </div>


                <div id="pl3" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a> <strong>Infrastructure Availability</strong></a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel panel-default">
                            <md-content class="md-padding" style="background-color:lightblue">
                                <div style="background-color: whitesmoke" class="col-md-12">

                                    <br>




                                    <h3 class="center-block text-center"><u>TECHNICAL</u></h3>
                                    <br>

<div class="row">

                                    <div class="col-md-4">
                                        <label>9. COMPUTERS, PERIPHERALS & DEVICES?</label>




                                    </div>

                                    <div class="col-md-4">

                                        <jk-rating-stars max-rating="4" rating="strv.ninthRate" ng-model="strv.ninthRate" ></jk-rating-stars>



                                    </div>


    <div class="col-md-4">
        <button ng-show="strv.ninthRate == 1"
                type="button" class="btn btn-danger">Poor</button>
        <button ng-show="strv.ninthRate == 2"
                type="button" class="btn btn-warning">Average</button>
        <button ng-show="strv.ninthRate == 3"
                type="button" class="btn btn-primary">Good</button>
        <button ng-show="strv.ninthRate == 4"
                type="button" class="btn btn-success">Excellent</button>

    </div>


</div>
                                    <br>

<div class="row">
                                    <div class="col-md-4">
                                        <label>10. SOFTWARE SET-UP PRIOR TO LECTURE?</label>
                                    </div>

                                    <div class="col-md-4">

                                        <jk-rating-stars max-rating="4" rating="strv.tenthRate" ng-model="strv.tenthRate"
                                        ></jk-rating-stars>



                                    </div>

    <div class="col-md-4">
        <button ng-show="strv.tenthRate == 1"
                type="button" class="btn btn-danger">Poor</button>
        <button ng-show="strv.tenthRate == 2"
                type="button" class="btn btn-warning">Average</button>
        <button ng-show="strv.tenthRate == 3"
                type="button" class="btn btn-primary">Good</button>
        <button ng-show="strv.tenthRate == 4"
                type="button" class="btn btn-success">Excellent</button>

    </div>

</div>
                                    <br>

                                    <h3 class="center-block text-center"><u>NON-TECHNICAL</u></h3>
                                    <br>

                                    <div class="row">

                                    <div class="col-md-4">
                                        <label>11. AIR-CONDITIONERS / COOLERS / FANS?</label>




                                    </div>

                                    <div class="col-md-4">

                                        <jk-rating-stars max-rating="4" rating="strv.elevenRate" ng-model="strv.elevenRate" ></jk-rating-stars>


                                        <br>
                                    </div>

                                        <div class="col-md-4">
                                            <button ng-show="strv.elevenRate == 1"
                                                    type="button" class="btn btn-danger">Poor</button>
                                            <button ng-show="strv.elevenRate == 2"
                                                    type="button" class="btn btn-warning">Average</button>
                                            <button ng-show="strv.elevenRate == 3"
                                                    type="button" class="btn btn-primary">Good</button>
                                            <button ng-show="strv.elevenRate == 4"
                                                    type="button" class="btn btn-success">Excellent</button>

                                        </div>
                                    </div><br>

                                    <div class="row">

                                    <div class="col-md-4">
                                        <label>12. FURNITURE & FIXTURES?</label>




                                    </div>

                                    <div class="col-md-4">

                                        <jk-rating-stars max-rating="4" rating="strv.twelveRate" ng-model="strv.twelveRate" ></jk-rating-stars>




                                    </div>
                                        <div class="col-md-4">
                                            <button ng-show="strv.twelveRate == 1"
                                                    type="button" class="btn btn-danger">Poor</button>
                                            <button ng-show="strv.twelveRate == 2"
                                                    type="button" class="btn btn-warning">Average</button>
                                            <button ng-show="strv.twelveRate == 3"
                                                    type="button" class="btn btn-primary">Good</button>
                                            <button ng-show="strv.twelveRate == 4"
                                                    type="button" class="btn btn-success">Excellent</button>

                                        </div>


                                    </div><br>

                                    <div class="row">

                                    <div class="col-md-4">
                                        <label>13. DRINKING WATER?</label>




                                    </div>

                                    <div class="col-md-4">

                                        <jk-rating-stars max-rating="4" rating="strv.thirteenRate"
                                                         ng-model="strv.thirteenRate"></jk-rating-stars>




                                    </div>

                                        <div class="col-md-4">
                                            <button ng-show="strv.thirteenRate == 1"
                                                    type="button" class="btn btn-danger">Poor</button>
                                            <button ng-show="strv.thirteenRate == 2"
                                                    type="button" class="btn btn-warning">Average</button>
                                            <button ng-show="strv.thirteenRate == 3"
                                                    type="button" class="btn btn-primary">Good</button>
                                            <button ng-show="strv.thirteenRate == 4"
                                                    type="button" class="btn btn-success">Excellent</button>

                                        </div>


                                    </div><br>

                                    <div class="row">

                                    <div class="col-md-4">
                                        <label>14. SANITARY FACILITY?</label>




                                    </div>

                                    <div class="col-md-4">

                                        <jk-rating-stars max-rating="4" rating="strv.fourteenRate" ng-model="strv.fourteenRate" ></jk-rating-stars>




                                    </div>

                                        <div class="col-md-4">
                                            <button ng-show="strv.fourteenRate == 1"
                                                    type="button" class="btn btn-danger">Poor</button>
                                            <button ng-show="strv.fourteenRate == 2"
                                                    type="button" class="btn btn-warning">Average</button>
                                            <button ng-show="strv.fourteenRate == 3"
                                                    type="button" class="btn btn-primary">Good</button>
                                            <button ng-show="strv.fourteenRate == 4"
                                                    type="button" class="btn btn-success">Excellent</button>

                                        </div>



                                    </div> <br>


                                    <h3 class="center-block text-center"><u>COURSEWARE</u></h3>
                                    <br>

                                    <div class="row">

                                    <div class="col-md-4">
                                        <label>15. RECIEVED  WITHIN 1 WEEK OF MODULE START DATE?</label>




                                    </div>

                                    <div class="col-md-4">
                                        <select class="form-control" ng-model="strv.fifteenRate" >
                                            <option value="">Choose Below</option>
                                            <option value=4>Recieved</option>
                                            <option value=0>Not Recieved</option>
                                        </select>

                                <!--        <jk-rating-stars max-rating="4" rating="strv.fifteenRate"
                                                          ng-model="strv.fifteenRate" ></jk-rating-stars> -->


                                    </div>

                                        <div class="col-md-4">
                                            <button ng-show="strv.fifteenRate == 0"
                                                    type="button" class="btn btn-danger">Poor</button>

                                            <button ng-show="strv.fifteenRate == 4"
                                                    type="button" class="btn btn-success">Excellent</button>

                                        </div>


                                    </div><br>

                                    <h3 class="center-block text-center"><u>LIBRARY FACILITY</u></h3>
                                    <br>

                                    <div class="row">

                                    <div class="col-md-4">
                                        <label>16. AVAILABILITY OF BOOKS?</label>




                                    </div>

                                    <div class="col-md-4">

                                        <jk-rating-stars max-rating="4" rating="strv.sixteenRate" ng-model="strv.sixteenRate" ></jk-rating-stars>



                                    </div>

                                        <div class="col-md-4">
                                            <button ng-show="strv.sixteenRate == 1"
                                                    type="button" class="btn btn-danger">Poor</button>
                                            <button ng-show="strv.sixteenRate == 2"
                                                    type="button" class="btn btn-warning">Average</button>
                                            <button ng-show="strv.sixteenRate == 3"
                                                    type="button" class="btn btn-primary">Good</button>
                                            <button ng-show="strv.sixteenRate == 4"
                                                    type="button" class="btn btn-success">Excellent</button>

                                        </div>

                                    </div>






                                </div>

                            </md-content>
                        </div>
                    </div>
                </div>


                <div id="pl4" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a> <strong>SUPPORT & GUIDANCE</strong></a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel panel-default">
                            <md-content class="md-padding" style="background-color:lightblue">
                                <div style="background-color: whitesmoke" class="col-md-12">

                                    <br>




                                    <h3 class="center-block text-center"><u>FRONT OFFICE</u></h3>
                                    <br>


<div class="row">
                                    <div class="col-md-4">
                                        <label>17. RESPONSE TIME TO SOLVE YOUR QUERIES?</label>




                                    </div>

                                    <div class="col-md-4">

                                        <jk-rating-stars max-rating="4" rating="strv.seventeenRate" ng-model="strv.seventeenRate"
                                        ></jk-rating-stars>


                                    </div>

    <div class="col-md-4">
        <button ng-show="strv.seventeenRate == 1"
                type="button" class="btn btn-danger">Poor</button>
        <button ng-show="strv.seventeenRate == 2"
                type="button" class="btn btn-warning">Average</button>
        <button ng-show="strv.seventeenRate == 3"
                type="button" class="btn btn-primary">Good</button>
        <button ng-show="strv.seventeenRate == 4"
                type="button" class="btn btn-success">Excellent</button>

    </div>
    </div>

<br>

                                    <div class="row">
                                    <div class="col-md-4">
                                        <label>18. ATTITUDE & DISCIPLINE?</label>
                                    </div>

                                    <div class="col-md-4">

                                        <jk-rating-stars max-rating="4" rating="strv.eighteenRate" ng-model="strv.eighteenRate"
                                        ></jk-rating-stars>



                                    </div>
                                        <div class="col-md-4">
                                            <button ng-show="strv.eighteenRate == 1"
                                                    type="button" class="btn btn-danger">Poor</button>
                                            <button ng-show="strv.eighteenRate == 2"
                                                    type="button" class="btn btn-warning">Average</button>
                                            <button ng-show="strv.eighteenRate == 3"
                                                    type="button" class="btn btn-primary">Good</button>
                                            <button ng-show="strv.eighteenRate == 4"
                                                    type="button" class="btn btn-success">Excellent</button>

                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                    <div class="col-md-4">
                                        <label>19. ISSUE OF RECEIPTS AGAINST PAYMENTS MADE?</label>




                                    </div>

                                    <div class="col-md-4">

                                        <select class="form-control" ng-model="strv.nineteenRate" >
                                            <option value="">Choose Below</option>
                                            <option value=4>Recieved</option>
                                            <option value=0>Not Recieved</option>
                                        </select>


                                 <!--       <jk-rating-stars max-rating="4" rating="strv.nineteenRate"
                                                          ng-model="strv.nineteenRate"
                                        ></jk-rating-stars> -->



                                    </div>

                                        <div class="col-md-4">
                                            <button ng-show="strv.nineteenRate == 0"
                                                    type="button" class="btn btn-danger">Poor</button>

                                            <button ng-show="strv.nineteenRate == 4"
                                                    type="button" class="btn btn-success">Excellent</button>

                                        </div>

                                    </div>









                                </div>

                            </md-content>
                        </div>
                    </div>
                </div>
                </div>



            <div class="col-md-8 text-center center-block ">

                <button  class="btn btn-primary"  ng-click="strv.submit()">Submit</button>
                &nbsp;
                &nbsp;
                &nbsp;
                <a href="/app" class="btn btn-warning" style="color: white">Back</a>
            </div>

        </form>

    </div>


</div>






<!-- Your application bootstrap  -->

</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->

