 <!DOCTYPE html5>
<html>
<body>

<div ng-app="trainingApp">  
<div class="form-container">
<div class="col-sm-8">

<h2>Update Student Details</h2>
<form name=updateStudent ng-submit="stu.updateStudent() && updateStudent.$valid">


    <div class="form-group row">
    <label for="candName" class="col-sm-2 form-control-label">Name </label>
    <div class="col-sm-8">
    <input type="text" name="candName" id="candName" class="form-control" ng-model="stu.candname" ng-disabled="stu.candname" />
    </div>
    </div>
    
    <div class="form-group row">
    <label for="candMail" class="col-sm-2 form-control-label">Email </label>
    <div class="col-sm-8">
    <input type="email" name="candMail" id="candMail" class="form-control" ng-model="stu.candmail" ng-disabled="stu.candmail" />
    </div>
    </div>

    <div class="form-group row">
    <label for="candNum" class="col-sm-2 form-control-label">Contact Number </label>
    <div class="col-sm-8">
    <input type="text" name="candNum" id="candNum" class="form-control" ng-model="stu.candnum" ng-disabled="stu.candnum" />
    </div>
    </div>

    <div class="form-group row">
    <label for="stuLoc" class="col-sm-2 form-control-label">Training Location</label>
    <div class="col-sm-8">
    <input type="text" name="stuLoc" id="stuLoc" class="form-control" ng-model="stu.loc" ng-disabled="stu.loc" />
    </div>
    </div>

    <div class="form-group row">
    <label for="stuCou" class="col-sm-2 form-control-label">Course</label>
    <div class="col-sm-8">
    <input type="text" name="stuCou" class="form-control" ng-model="stu.course" ng-disabled="stu.course" />
    </div>
    </div>

    <div class="form-group row">
    <label for="courseFee" class="col-sm-2 form-control-label">Suggested Fee</label>
    <div class="col-sm-8">
    <div class="input-group">
    <div class="input-group-addon">INR</div>
    <input type="number" name="courseFee" id="courseFee" class="form-control" ng-model="stu.fee" ng-disabled="stu.fee">
    </div>
    </div>
    </div>

    <button type="button" class="btn btn-default" ng-click="stu.isCollapsed = !stu.isCollapsed">Course Fee Breakup</button>
    <p></p>
    <div uib-collapse="stu.isCollapsed">
      
    <div class="form-group row">
    <label for="coursrRegFee" class="col-sm-2 form-control-label">Registration Fee</label>
    <div class="col-sm-4">
    <div class="input-group">
    <div class="input-group-addon">INR</div>
    <input type="number" name="coursrRegFee" id="coursrRegFee" class="form-control" ng-model="stu.couRegFee" ng-disabled="stu.fee">
    </div>
    </div>
    </div> 

    <div class="form-group row">
    <label for="coursrFirInsFee" class="col-sm-2 form-control-label">1st Installment Fee</label>
    <div class="col-sm-4">
    <div class="input-group">
    <div class="input-group-addon">INR</div>
    <input type="number" name="coursrFirInsFee" id="coursrFirInsFee" class="form-control" ng-model="stu.couFInsFee" ng-disabled="stu.fee">
    </div>
    </div>
    </div>  


    <div class="form-group row">
    <label for="coursrSecInsFee" class="col-sm-2 form-control-label">2nd Installment Fee</label>
    <div class="col-sm-4">
    <div class="input-group">
    <div class="input-group-addon">INR</div>
    <input type="number" name="coursrSecInsFee" id="coursrSecInsFee" class="form-control" ng-model="stu.couSInsFee" ng-disabled="stu.fee">
    </div>
    </div>
    </div>  

    </div>


    <div class="form-group row">
    <label for="stuFeeSta" class="col-sm-2 form-control-label">Fee Submission Status <span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="stuFeeSta" id="stuFeeSta" ng-model="stu.feeSta" ng-disabled="stu.preFeeStatus==stu.feeStatusOptions[1].value" ng-options="option.value as option.name for option in stu.feeStatusOptions" > </select>
    </div>
    </div>

    <!--div ng-show="stu.feeSta == stu.feeStatusOptions[1].value">
    <div class="form-group row">
    <label for="stuFeeSubDate" class="col-sm-2 form-control-label">Fee Submitted Date <span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <input type="text" name="stuFeeSubDate" id="stuFeeSubDate" class="form-control" ng-model="stu.feeSubmDate" ng-disabled="true">  
    </div>
    </div>

    <div class="form-group row">
    <label for="courseActFee" class="col-sm-2 form-control-label">Submitted Fee Amount<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <div class="input-group">
    <div class="input-group-addon">INR</div>
    <input type="number" name="courseActFee" id="courseActFee" class="form-control" ng-model="stu.actSubmFee" ng-disabled="true" >
    </div>
    </div>
    </div>
    </div-->


    <!--div ng-show="stu.feeSta == stu.feeStatusOptions[2].value"-->
    <div class="form-group row">
    <label for="stuFeeSubDate" class="col-sm-2 form-control-label">Registration Fee Submitted Date <span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <input type="text" name="stuFeeSubDate" id="stuFeeSubDate" class="form-control" ng-model="stu.feeSubmDate"  ng-disabled="true">
    </div>
    </div>

    <div class="form-group row">
    <label for="courseRegFee" class="col-sm-2 form-control-label">Submitted Registration Fee<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <div class="input-group">
    <div class="input-group-addon">INR</div>
    <input type="number" name="courseRegFee" id="courseRegFee" class="form-control" ng-model="stu.regisFee" ng-disabled="true" >
    </div>
    </div>
    </div>

    <div ng-show="stu.preFeeStatus == stu.feeStatusOptions[1].value">
    <div class="form-group row">
    <label for="stuFInsFeeSubDate" class="col-sm-2 form-control-label">First Installment Fee Submission Date</label>
    <div class="col-sm-8">
    <input type="text" name="stuFInsFeeSubDate" id="stuFInsFeeSubDate" class="form-control" ng-model="stu.firInsDate"  ng-disabled="true">
    </div>
    </div>
    </div>

    <div ng-show="stu.preFeeStatus == stu.feeStatusOptions[2].value">
    <div class="form-group row">
    <label for="stuFInsFeeSubDate" class="col-sm-2 form-control-label">First Installment Fee Submission Date</label>
    <div class="col-sm-8">
    <div class="input-group">
    <input type="text" name="stuFInsFeeSubDate" id="stuFInsFeeSubDate" class="form-control"  uib-datepicker-popup="{{stu.format}}" ng-model="stu.firInsDate" ng-value="stu.firInsDate" ng-change="stu.updInFirInsDate()" ng-disabled="((stu.preFeeStatus == stu.feeStatusOptions[1].value) || ((stu.preFeeStatus == stu.feeStatusOptions[2].value)&&(stu.firInsFee == stu.couFInsFee)))" is-open="stu.popup2.opened" datepicker-options="stu.dateOptions"  close-text="Close" /> <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="stu.open2()" ><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    </div>
    </div>
    </div>
    </div>

    <div class="form-group row">
    <label for="courseFInsFee" class="col-sm-2 form-control-label">Submitted First Installment Fee</label>
    <div class="col-sm-8">
    <div class="input-group">
    <div class="input-group-addon">INR</div>
    <input type="number" name="courseFInsFee" id="courseFInsFee" class="form-control" min="0.00" max="100000" ng-model="stu.firInsFee" ng-disabled="((stu.preFeeStatus == stu.feeStatusOptions[1].value) || ((stu.preFeeStatus == stu.feeStatusOptions[2].value)&&(stu.firInsFee == stu.couFInsFee)))" ng-change="stu.updInFirInsFee()">
    </div>
    </div>
    </div>

    <div ng-show="stu.preFeeStatus == stu.feeStatusOptions[1].value">
    <div class="form-group row">
    <label for="stuSInsFeeSubDate" class="col-sm-2 form-control-label">Second Installment Fee Submission Date</label>
    <div class="col-sm-8">
    <input type="text" name="stuSInsFeeSubDate" id="stuSInsFeeSubDate" class="form-control" ng-model="stu.secInsDate"  ng-disabled="true">
    </div>
    </div>
    </div>

    <div ng-show="stu.preFeeStatus == stu.feeStatusOptions[2].value">
    <div class="form-group row">
    <label for="stuSInsFeeSubDate" class="col-sm-2 form-control-label">Second Installment Fee Submission Date</label>
    <div class="col-sm-8">
    <div class="input-group">
    <input type="text" name="stuSInsFeeSubDate" id="stuSInsFeeSubDate" class="form-control"  uib-datepicker-popup="{{stu.format}}"  ng-model="stu.secInsDate"  ng-value="stu.secInsDate" ng-change="stu.updInSecInsDate()" is-open="stu.popup3.opened" datepicker-options="stu.dateOptions"  close-text="Close" /> <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="stu.open3()" ><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    </div>
    </div>
    </div>
    </div>

    <div class="form-group row">
    <label for="courseSInsFee" class="col-sm-2 form-control-label">Submitted Second Installment Fee</label>
    <div class="col-sm-8">
    <div class="input-group">
    <div class="input-group-addon">INR</div>
    <input type="number" name="courseSInsFee" id="courseSInsFee" class="form-control" min="0.00" max="100000" ng-model="stu.secInsFee" ng-disabled="stu.preFeeStatus == stu.feeStatusOptions[1].value" ng-change="stu.updInSecInsFee()">
    </div>
    </div>
    </div>


    <div class="form-group row">
    <label for="courseActFee" class="col-sm-2 form-control-label">Total Submitted Fee Amount<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <div class="input-group">
    <div class="input-group-addon">INR</div>
    <input type="number" name="courseActFee" id="courseActFee" class="form-control" min="0.00" max="100000" ng-model="stu.actSubmFee" ng-disabled="true" >
    </div>
    </div>
    </div>



    
    <!--/div-->


    

    <div class="form-group row">
    <label for="stuBatStatus" class="col-sm-2 form-control-label">Status<span style="color:red;">*</span></label>
    <div class="col-sm-8">

    <select class="form-control text-center" name="stuBatStatus" id="stuBatStatus" ng-model="stu.batStatus" ng-init="stu.batStatus = stu.batStatus || stu.batStatusOptions[0].value" ng-options="option.value as option.name for option in stu.batStatusOptions"> 
    </select>
    </div>

    <div class="helptext" helptext>
    <button type="button" class="btn btn-default" ng-click="stu.findBatch()" ng-disabled="!(stu.batStatus==stu.batStatusOptions[1].value)"><i class="fa fa-search"></i></button>
    <span class="helptext-span">Find Batch</span>
    </div>   

    </div>

    <div class="form-group row">
    <label for="batchId" class="col-sm-2 form-control-label">Batch ID</label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="batchId" id="batchId" ng-model="stu.batchId" ng-required="stu.batStatus==stu.batStatusOptions[1].value" ng-options="batch.id as batch.id for batch in stu.batchList" >
    </select>

    </div>
    </div>


    <div class="form-group row">
    <label for="traStatus" class="col-sm-2 form-control-label">Training Status</label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="traStatus" id="traStatus" ng-model="stu.traStatus" ng-init="stu.traStatus = stu.traStatus || stu.traStatusOptions[0].value" ng-disabled= "stu.batStatus != stu.batStatusOptions[1].value" ng-options="option.value as option.name for option in stu.traStatusOptions">
    </select>

    </div>
    </div>
    
    <div class="form-group row">
    <label for="certIssu" class="col-sm-2 form-control-label">Training Certificate Issued</label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="certIssu" id="certIssu" ng-disabled="stu.traStatus != stu.traStatusOptions[1].value" ng-model="stu.certIssu" >
    <option value="No">No</option>
    <option value="Yes">Yes</option> 
    </select>
    </div>
    </div>

    <div class="form-group row">
    <label for="certIssuDate" class="col-sm-2 form-control-label">Certificate Issue Date</label>
    <div class="col-sm-8">
    <div class="input-group">
    <input type="text" name="certIssuDate" id="certIssuDate" class="form-control"  uib-datepicker-popup="{{stu.format}}" ng-disabled="stu.certIssu=='No'" ng-model="stu.certifDate" ng-value="stu.certifDate" is-open="stu.popup4.opened" datepicker-options="stu.dateOptions" ng-required="stu.certIssu=='Yes'" close-text="Close" /> <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="stu.open4()" ><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    </div>
    </div>
    </div>


    <div class="form-group row">
    <label for="feedbSub" class="col-sm-2 form-control-label">Feedback Submitted</label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="feedbSub" id="feedbSub" ng-disabled="stu.traStatus != stu.traStatusOptions[1].value" ng-model="stu.feedbaSubm" >
    <option value="No">No</option>
    <option value="Yes">Yes</option> 
    </select>
    </div>
    </div>


    <div class="form-group row">
    <label for="stuRemarks" class="col-sm-2 form-control-label">Remarks</label>
    <div class="col-sm-8">
    <input type="text" name="stuRemarks" id="stuRemarks" class="form-control" autocomplete="on" maxlength="200" ng-model="stu.remarks" />
    </div>
    </div>


    <div class="form-group row">
    <input type="submit" id="btnSubmit" class="btn btn-primary" value="Update Student" />

    <input type="button"class="btn btn-primary" value="Back" onClick="history.go(-1);return true;"/>
    
    </div>


</form>
</div>	
</div>
</div>
</body>
</html>
