<!DOCTYPE html>
<html>
<head>
    <title>View All Student</title>
</head>
<body>

<div ng-app="trainingApp">  
<div class="row">
    <div class="col-lg-12">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><i class="fa fa-fw fa-table"></i>Available Students</div>
    <!--Panel Body -->
    <div class="panel-body">
    <!-- Table -->
    
    <div ng-hide="noData === true" class="table-responsive">

    <label for="chngCol">
     <input type="checkbox" id="chngCol" ng-model="stu.showCol" ng-change="stu.ShowHide()"/> Show/ Hide More Columns 
     </label>

    <div ng-show="stu.isVisible">
      <div style="margin-bottom: 20px">
        <label class="checkbox-inline" ng-repeat="col in stu.viewCols">
          <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="col.show" /> {{col.title()}}</label>          
      </div>
    </div>

    <table ng-table="stu.tableParams" export-csv='csv' class="table table-bordered table-condensed table-striped table-hover"  ng-table-columns-binding="stu.viewCols">

        
       <tr ng-repeat="student in $data track by $index" >       
           <td data-title="'Student Name'"  ng-if="true",  sortable="'name'" filter="{ 'name': 'text' }">
               {{student.name}}
           </td>
           <td data-title="'Email Id'" ng-if="true" filter="{ 'email': 'text' }" >
               {{student.email}}
           </td>    
           <td data-title="'Contact Number'" ng-if="false" filter="{ 'phone': 'text' }">
               {{student.phone}}
           </td>    

           <td data-title="'Training Location'" ng-if="true" sortable="'loc'" filter="{ 'loc': 'text' }">
               {{student.loc}}
           </td>    

           <td data-title="'Training Course'" ng-if="true" sortable="'course'" filter="{ 'course': 'text' }">
               {{student.course}}
           </td>    
           
           <td data-title="'Suggested Fee'" ng-if="false" >
               {{student.fee}}
           </td>    
           
           <td ng-class='{danger : student.feeSubmStatus=="Partial Amount Submitted", success: student.feeSubmStatus=="Full Amount Submitted"}' data-title="'Fee Submission Status'" ng-if="true" sortable="'feeSubmStatus'" filter="{ 'feeSubmStatus': 'text' }">
               {{student.feeSubmStatus}}
           </td>    
           
           <td data-title="'Total Submitted Fee'" ng-if="false">
               {{student.actFeeAmt}}
           </td>

           <td data-title="'Registration Fee'" ng-if="false">
               {{student.regFee}}
           </td>
           <td data-title="'Registration Date'" ng-if="false" sortable="'regDate'" filter="{ 'regDate': 'text' }">
               {{student.regDate |  date:'dd/MMM/yyyy'}}
           </td>

           <td data-title="'First Installment Fee'" ng-if="false">
               {{student.firInsFee}}
           </td>
           <td data-title="'First Installment Date'" ng-if="false" sortable="'firInsDate'" filter="{ 'firInsDate': 'text' }">
               {{student.firInsDate |  date:'dd/MMM/yyyy'}}
           </td>           

           <td data-title="'Second Installment Fee'" ng-if="false">
               {{student.secInsFee}}
           </td>
           <td data-title="'Second Installment Date'" ng-if="false" sortable="'secInsDate'" filter="{ 'secInsDate': 'text' }">
               {{student.secInsDate |  date:'dd/MMM/yyyy'}}
           </td>

           <td data-title="'Batch Status'" ng-if="true" sortable="'status'" filter="{ 'status': 'text' }">
               {{student.status}}
           </td>

           <td data-title="'Batch Id'" ng-if="false" sortable="'batchId'" filter="{ 'batchId': 'text' }">
               {{student.batchId}}
           </td>

           <td data-title="'Training Status'" ng-if="true" sortable="'traCompleted'" filter="{ 'traCompleted': 'text' }">
               {{student.traCompleted}}
           </td>

           <td data-title="'Certificate Issued'" ng-if="false" sortable="'certifIssu'" filter="{ 'certifIssu': 'text' }">
               {{student.certifIssu}}
           </td>

           <td data-title="'Certificate Issue Date'" ng-if="false" sortable="'certifDate'" filter="{ 'certifDate': 'text' }">
               {{student.certifDate |  date:'dd/MMM/yyyy'}}
           </td>

           <td data-title="'Feedback Submitted'" ng-if="false" sortable="'feedbaSubm'" filter="{ 'feedbaSubm': 'text' }">
               {{student.feedbaSubm}}
           </td>

           <td data-title="'Remarks'" ng-if="false">
               {{student.remarks}}
           </td>

           <td data-title="'Last Modified'" ng-if="false" sortable="'updatedAt'" filter="{ 'updatedAt': 'text' }">
               {{student.updatedAt |  date:'medium' }} 
           </td> 

           <td data-title="'Action'" ng-if="true">
                <!--a ng-id="{{student._id}}" ng-href="#/student/{{student._id}}" target="_self"><span>Update</span></a-->        
                 <div class="helptext" helptext>         
                <button class="btn btn-default export-btn" ng-click='stu.moveToUpdateStudent(student)' href=''><i   class="fa fa-pencil-square-o"></i></button>
                 <span class="helptext-span">Update</span>
                 </div>
           </td>             
       </tr>
    </table>

    </div>
    <div ng-show="noData === true" class="no-data-container"></div>

    <button class="btn btn-primary export-btn" ng-click='csv.generate($event, "student-list.csv")' href=''>Export</button>     
    <input type="button"class="btn btn-primary" value="Back" onClick="history.go(-1);return true;"/>
    </div>  
    </div>
</div>
</div>  
</div>
</body>
</html>
