<!DOCTYPE html>
<html>
<head>
    <title>View Student Details</title>
</head>
<body>

<div ng-app="trainingApp">  
<div class="form-container">
<!--div class=" vdivide" style="margin-top:80px;"-->
<div class="col-sm-8">

<h2>Get Student Details</h2>

<form name=getStudent ng-submit="stu.getStudent(stu.candmail) && getStudent.$valid">

    <div class="form-group row">
    <label for="candMail" class="col-sm-4 form-control-label">Student Email Id </label>
    <div class="col-sm-6">
    <input type="email" name="candMail" id="candMail" class="form-control" ng-model="stu.candmail" ng-disabled="stu.isEdit" required />
    </div>
    </div>


    <div class="form-group row">
    <input type="submit" id="btnSubmit" class="btn btn-primary" value="Get Student Details"  ng-disabled="stu.isEdit"/>

    <input type="button" id="btnCancel" class="btn btn-primary" value="Cancel" " ng-click="stu.cancel()" />
    
    </div>

</form>

</div>  
</div>
</div>
<!--/div-->  
</body>
</html>
