<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>inquiry</title>


    <!-- Bootstrap Core CSS -->


    <!-- Custom CSS -->




    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        #my{
            position: absolute;

            left: 25%;



        }​
    </style>


</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body>

<div  class="container" id="my">

    <div tabindex="0" ng-hide="myVal">
        <!--<form novalidate id="sub" ng-hide="myVal">-->
        <form name="myForm" novalidate  >

            <div class="col-md-8">
                <h2>Inquiry Follow Up Details</h2>
                <div id="td" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a>Follow Up Details</a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel panel-default">
                            <md-content class="md-padding" style="background-color:lightblue">
                                <div class="col-md-12">

                                    <br>

                                    <table class="table table-responsive">

                                        <tbody>

                                        <tr>
                                            <td>
                                                <label>Candidate Name</label>
                                                <br>
                                                <input type="text" ng-disabled="true" id="name" ng-model="inqf.name"
                                                       class="form-control" >
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Candidate Email</label>
                                                <br>
                                                <input class="form-control" type="text" ng-disabled="true" id="Email"
                                                       ng-model="inqf.Email" >
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Course</label>
                                                <br>
                                                <input  class="form-control" type="text" ng-disabled="true" id="Course"
                                                        ng-model="inqf.Course" >
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Location</label>
                                                <br>
                                                <input class="form-control" type="text" ng-disabled="true" id="Location"
                                                        ng-model="inqf.Location" >
                                            </td>

                                        </tr>
                                        <tr>

                                            <td>

                                                <label>Follow Up 1 Date<span style="color:red;">*</span></label>
                                                <br>


                                                <div ng-hide="dtbox11" class="form-group row">

                                                    <div class="col-sm-8">
                                                        <div  class="input-group">
                                                            <input  type="text" name="followdate1" id="followdate1"
                                                                    class="form-control"  uib-datepicker-popup="{{inqf.format}}" ng-model="inqf.followdate1" ng-change="inqf.resetTrainerData()" is-open="inqf.popup1.opened" datepicker-options="inqf.dateOptions" ng-required="true" close-text="Close" /> <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="inqf.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <input ng-disabled="true" type="text" class="form-control"
                                                       ng-show="dtbox12"
                                                       ng-model="inqf.followdate1" name="dtbox12" id="dtbox12">


                                            </td>
                                            <td>

                                                <label>Remarks1<span style="color:red;">*</span></label>
                                                <br>

                                                <input ng-disabled="rmbox1" type="text" class="form-control" id="rem1"
                                                       ng-model="inqf.rem1" >



                                            </td>

                                        </tr>
                                        <tr>

                                            <td>

                                                <label>Follow Up 2 Date</label>
                                                <br>

                                                <div ng-hide="dtbox21" class="form-group row">

                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <input type="text" name="followdate2" id="followdate2"
                                                                   class="form-control"
                                                                   uib-datepicker-popup="{{inqf.format}}"
                                                                   ng-model="inqf.followdate2" ng-change="inqf.resetTrainerData()" is-open="inqf.popup2.opened" datepicker-options="inqf.dateOptions" ng-required="true" close-text="Close" /> <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="inqf.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <input ng-disabled="true" type="text" class="form-control"
                                                       ng-show="dtbox22"
                                                       ng-model="inqf.followdate2" name="dtbox22" id="dtbox22">

                                            </td>
                                            <td>

                                                <label>Remarks2</label>
                                                <br>

                                                <input ng-disabled="rmbox2" id="rmbox2" class="form-control" type="text"
                                                       ng-model="inq.rem2" >


                                            </td>

                                        </tr>
                                        <tr>

                                            <td>

                                                <label>Follow Up 3 Date</label>
                                                <br>

                                                <div ng-hide="dtbox31" class="form-group row">

                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <input type="text" name="followdate3" id="followdate3"
                                                                   class="form-control"
                                                                   uib-datepicker-popup="{{inqf.format}}"
                                                                   ng-model="inqf.followdate3"
                                                                   ng-change="inqf.resetTrainerData()"
                                                                   is-open="inqf.popup3.opened" datepicker-options="inqf.dateOptions" ng-required="true" close-text="Close" /> <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="inqf.open3()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <input ng-disabled="true" type="text" class="form-control"
                                                       ng-show="dtbox32"
                                                       ng-model="inqf.followdate3" name="dtbox32" id="dtbox32">


                                            </td>
                                            <td>

                                                <label>Remarks3</label>
                                                <br>

                                                <input type="text" id="rmbox3" ng-disabled="rmbox3" ng-model="inqf.rem3"
                                                       class="form-control">


                                            </td>

                                        </tr>

                                        <tr>
                                            <td>

                                                <label >Status of Inquiry<span style="color:red;">*</span></label>
                                                <br>

                                                <select class="form-control"  name="stat1" id="stat1"
                                                        ng-model="inqf.stat1">

                                                    <option value="Open">Open</option>
                                                    <option value="Enroll">Enroll</option>
                                                    <option value="Reject">Reject</option>


                                                </select>




                                            </td>
                                            <td ng-show="inqf.stat1=='Enroll'">
                                                <br>
                                                <button ng-show="inqf.stat1=='Enroll'"
                                                         class="btn-group btn-group-xs btn-danger export-btn btn"
                                                        role="group"
                                                        ng-click='inqf.createStudent()' href=''>Enroll</button></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <br>
                                    <br>


                                </div>

                            </md-content>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-8 text-center center-block ">

                <button  class="btn btn-primary"  ng-click="inqf.followinquiry()">Submit</button>
                &nbsp;
                &nbsp;
                &nbsp;
                <a href="/app/#/ViewAllInquiries" class="btn btn-warning" style="color: white">Back</a>
            </div>

        </form>

    </div>


</div>






<!-- Your application bootstrap  -->

</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->

