<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>inquiry</title>


    <!-- Bootstrap Core CSS -->


    <!-- Custom CSS -->




    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        #my{
            position: absolute;

            left: 25%;



        }​
    </style>


</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body>

<div  class="container" id="my">


    <div tabindex="0" ng-hide="myVal">
        <!--<form novalidate id="sub" ng-hide="myVal">-->
<form name="myForm" novalidate  >

 <div class="col-md-8">

     <div id="cd" class="panel-group">
         <h2>Update Inquiry Details</h2>
         <br>
         <div class="panel panel-default">
             <div class="panel-heading">
                 <h4 class="panel-title">
                     <a>Candidate Details</a>
                 </h4>
             </div>
             <div id="collapse5" class="panel panel-default">
                 <md-content class="md-padding" style="background-color:lightblue">
                     <div class="col-md-12">

                         <div class="row" style="background-color: whitesmoke">
                             <div class="col-md-12">

                                 <div>
                                     <br>

                                     <label >Candidate Name</label>
                                     <br>

                                     <input id="candname" type="text"
                                          class="form-control"  ng-model="inq.candname"   style="width: 100%;height:
                                                        30px">

                                     <br >

                                     <label >Candidate Email</label>
                                     <br>

                                     <input id="candmail" type="text"
                                            class="form-control"  ng-model="inq.candmail"   style="width: 100%;height:
                                                        30px">
                                     <br>

                                     <label >Candidate Contact Number</label>
                                     <br>
                                     <input  numbers-only class="form-control" placeholder="10 digits mobile number"
                                             type="text"
                                             id="candnum1"
                                             ng-model="inq.candnum1"   style="width: 100%;">
                                     <br>


                             </div>






                         </div>

                     </div>

                 </md-content>
             </div>
         </div>
     </div>
     <br>

<div id="td" class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a>Training Details</a>
                                    </h4>
                                </div>
                                <div id="collapse5" class="panel panel-default">
                            <md-content class="md-padding" style="background-color:lightblue">
                                <div class="col-md-12">

                                    <div class="row" style="background-color: whitesmoke">
                                        <div class="col-md-12">

                                            <div>
                                                <br>
                                              
                                                <label for="inqdestrg"> Desired Training Course<span style="color:red;">*</span> </label>
                                                <br>

                                                <select ng-init="inq.destrg=inq.destrg" required class="form-control" id="inqdestrg"
                                                         ng-model="inq.destrg"  ng-change="getfee(inq.destrg)" >

                                                    <option ng-repeat="c in inq.courseList" ng-if="c.status=='Active' "value="{{c.name}}">{{c.name}}</option>
                                                    <option value="Others" ng-disabled='!enabled'>Others</option>
                                                </select>

                                                <br  ng-hide="inq.destrg!='Others'" >
                                                <label  ng-hide="inq.destrg!='Others'" >Other Training Course Name<span
                                                        style="color:red;">*
                                                </span> </label>
                                                <input id="othcrse" type="text" ng-disabled="inq.destrg=='Others'"
                                                       ng-hide="inq.destrg!='Others'" class="form-control"  ng-model="inq.othCou"   style="width: 100%;height:
                                                        30px">
                                                <br ng-hide="inq.destrg!='Others'">
                                                <label ng-hide="inq.destrg!='Others'">Other Training Course Fee</label>
                                                <input type="text" id="othfee" numbers-only ng-hide="inq.destrg!='Others'" ng-disabled="inq.destrg=='Others'"
                                                       class="form-control" placeholder="Course Fee" ng-model="inq.othfee">
                                                  <br ng-hide="inq.destrg!='Others'">
                                                <label ng-hide="inq.destrg!='Others'">Other Training Course Duration</label>
                                                <input numbers-only type="text" id="othdur" ng-hide="inq.destrg!='Others'" ng-disabled="inq.destrg=='Others'"
                                                       class="form-control" placeholder="Course Duration" ng-model="inq.othdur">
                                                <br ng-hide="inq.destrg!='Others'">                                                <!--
                                                                                          <select ng-model="inq.destrg" ng-change="hg(inq.destrg)" class="form-control"  >
                                                                                              <option ng-repeat="c in inq.courseList" value="{{c.fee}}">{{c.name}}</option>

                                                                                          </select> -->

                                            </div>

                                            <div>


                                              <!--  <label for="inqdesmonth">Desired Month</label>
                                                <br>
                                                <select class="form-control"  name="inqmonth" id="inqmonth" ng-model="inq.desmon" ng-required="!inq.desmon" >
                                                    <option value="">Choose Below</option>
                                                    <option value="Jan">Jan</option>
                                                    <option value="Feb">Feb</option>
                                                    <option value="Mar">Mar</option>
                                                    <option value="Apr">Apr</option>
                                                    <option value="May">May</option>
                                                    <option value="Jun">Jun</option>
                                                    <option value="Jul">Jul</option>
                                                    <option value="Aug">Aug</option>
                                                    <option value="Sep">Sep</option>
                                                    <option value="Oct">Oct</option>
                                                    <option value="Nov">Nov</option>
                                                    <option value="Dec">Dec</option>


                                                </select>                                          -->
                                              
                                                 <label for="inqdesmonth">Desired Starting Date<span style="color:red;">*</span></label>
                                                      <div class="input-group">
                                                                <input type="text" name="inqmonth" id="inqmonth" ng-model="inq.desdate" ng-required="!inq.desdate"  class="form-control"  uib-datepicker-popup="{{inq.format}}" is-open="inq.popup4.opened" datepicker-options="inq.dateOptions" close-text="Close" /> <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default" ng-click="inq.open4()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                             </span>
                                                     </div>
                                                      </br>
                                             






                                                <br>

                                            </div>


                                            <div class="form-group row">

                                                <label for="batTimeSlot"
                                                       class="col-sm-2 form-control-label">Desired Batch Start Time<span style="color:red;">*</span></label>
                                                <div class="col-sm-4">

                                                    <div class="input-group">
                                                        <input type="text" class="form-control"
                                                               ng-model="inq.startTime" id="startTime">
                                                        <div class="input-group-btn" uib-dropdown auto-close="outsideClick">
                                                            <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle><i class="glyphicon glyphicon-time"></i></button>
                                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                                <li><uib-timepicker ng-model="inq.displayTime"
                                                                                    hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                <label for="batEndTimeSlot"
                                                       class="col-sm-2 form-control-label">Desired Batch End Time<span
                                                        style="color:red;">*</span></label>
                                                <div class="col-sm-4">

                                                    <div class="input-group">
                                                        <input type="text" class="form-control"
                                                               ng-model="inq.endTime" id="endTime">
                                                        <div class="input-group-btn" uib-dropdown auto-close="outsideClick">
                                                            <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle><i class="glyphicon glyphicon-time"></i></button>
                                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                                <li><uib-timepicker ng-model="inq.displayTime2"
                                                                                    hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div >


                                                <label for="inqdesday">Desired Training Day<span style="color:red;">*</span></label>
                                                <br>
                                                <select class="form-control"  name="inqdesday" id="inqdesday" multiple ng-model="inq.desday" ng-required="!inq.desday">
                                                    <option value="Monday">Monday</option>
                                                    <option value="Tuesday">Tuesday</option>
                                                    <option value="Wednesday">Wednesday</option>
                                                    <option value="Thursday">Thursday</option>
                                                    <option value="Friday">Friday</option>
                                                    <option value="Saturday">Saturday</option>
                                                    <option value="Sunday">Sunday</option>

                                                </select>
                                                <br>

                                            </div>



                                            <div >

                                                <label for="inqdesloc">Desired Training Location<span style="color:red;">*</span></label>
                                                <br>
                                                <select class="form-control" name="inqdesloc" id="inqdesloc" ng-model="inq.desloc" ng-required="!inq.desloc">
                                                    <option value="">Choose Below</option>
                                                    <option value="Gurgaon">Gurgaon</option>
                                                    <option value="Noida">Noida</option>
                                                </select>

                                                <br>
                                            </div>




                                            <div >

                                                <label >Duration Of Suggested Course</label>
                                                <br>
                                                <div class="input-group">

                                                    <span class="input-group-addon" id="basic-addon2">Hours</span>

                                                    <input type="text" ng-disabled="true" class="form-control" name="inqdests"
                                                           id="dosc" ng-model="inq.dosc"
                                                           aria-describedby="basic-addon2"  ng-required="!inq.dosc"
                                                           style="width: 100%;">

                                                </div>








                                            </div>
                                            <br>

                                            <div >

                                                <label >Fee Of Suggested Course</label>
                                                <br>
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1">INR</span>
                                                    <input type="text" name="inqdests" id="fsdc" disabled class="form-control"
                                                           ng-model="inq.fosc" ng-required="!inq.fosc" aria-describedby="basic-addon1">

                                                </div>







                                            </div>


                                            <br>

                                            <div >

                                                <label >Discount Offered</label>
                                                <br>

                                                <input type="text"
                                                       class="form-control" name="inqdio" id="dio"
                                                        ng-model="inq.dio" ng-keyup="nefee()"
                                                       style="width: 100%;">

                                                <br>


                                            </div>
                                            <br>
                                            <div ng-show="inq.dio > '0'">

                                                <label >Discount Approved By</label>
                                                <br>

                                                <input type="text" class="form-control" name="inqdests" ng-model="inq.da" id="da" ng-required="!inq.da" style="width: 100%;">


                                                <br>

                                            </div>



<br>
                                            <div >

                                                <label >Service Tax</label>
                                                <br>

                                                <input type="text" ng-disabled="true" class="form-control"
                                                       name="inqstax"
                                                       id="stax" ng-model="inq.stax"
                                                       style="width: 100%;">




                                            </div>
                                            <br>



                                            <div >

                                                <label >Net Fee</label>
                                                <br>

                                                <input type="text"
                                                       class="form-control" name="inqnetfee" id="netfee"
                                                       ng-model="inq.netfee" style="width: 100%;" ng-disabled="true">

                                                <br>


                                            </div>
                                       


                                        </div>






                                    </div>

                                </div>

                            </md-content>
                        </div>
                    </div>
                </div>


   

    <div id="FUP" class="panel-group">
         
         <div class="panel panel-default">
             <div class="panel-heading">
                 <h4 class="panel-title">
                     <a>Follow up Details</a>
                 </h4>
             </div>
            <div id="collapse5" class="panel ">
                 <md-content class="md-padding" style="background-color:lightblue;overflow:show;display:inline-table">
                     <div class="col-md-12">

                         <div class="row" style="background-color: whitesmoke">
                             <div class="col-md-12">

                                 <div class="col-md-6">
                                  

                                   <label>Follow Up 1 Date<span style="color:red;">*</span></label>
                                                <br>


                                                <div ng-hide="dtbox11" class="form-group row">

                                                    <div class="col-sm-12">
                                                        <div  class="input-group" >
                                                            <input  type="text" name="followdate1" id="followdate1"
                                                                    class="form-control"  uib-datepicker-popup="{{inq.format}}" ng-model="inq.followdate1" is-open="inq.popup1.opened" datepicker-options="inq.dateOptions" ng-required="!inq.followdate1" close-text="Close" /> <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="inq.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
                                                        </div>
                                                    </div>


                                                 

                                                </div>


                                              </div>
                                              <div class="col-md-6">
                                                <input ng-disabled="true" type="text" class="form-control"
                                                       ng-show="dtbox12"
                                                       ng-model="inq.followdate1" name="dtbox12" id="dtbox12">  


                                             <label>Remarks1<span style="color:red;">*</span></label>
                                                <br>

                                                <input ng-disabled="rmbox1" type="text" class="form-control" id="rem1"
                                                       ng-model="inq.rem1" >




                                               </div>






                         </div>

                         <div class="col-md-12">
                          
                             <div class="col-md-6">
                                <label>Follow Up 2 Date</label>
                                                <br>

                                                <div ng-hide="dtbox21" class="form-group row">

                                                    <div class="col-sm-12">
                                                        <div class="input-group">
                                                            <input type="text" name="followdate2" id="followdate2"
                                                                   class="form-control"
                                                                   uib-datepicker-popup="{{inq.format}}"
                                                                   ng-model="inq.followdate2" ng-change="inq.resetTrainerData()" is-open="inq.popup2.opened" datepicker-options="inq.dateOptions"  close-text="Close" /> <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="inq.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <input ng-disabled="true" type="text" class="form-control"
                                                       ng-show="dtbox22"
                                                       ng-model="inq.followdate2" name="dtbox22" id="dtbox22">

                                            </div>
                                            <div class="col-md-6">

                                                <label>Remarks2</label>
                                                <br>

                                                <input ng-disabled="rmbox2" id="rmbox2" class="form-control" type="text"
                                                       ng-model="inq.rem2" >


                                            </div>

                         </div>


                         <div class="col-md-12">
                          
                             <div class="col-md-6">
                                <label>Follow Up 3 Date</label>
                                                <br>

                                                <div ng-hide="dtbox31" class="form-group row">

                                                    <div class="col-sm-12">
                                                        <div class="input-group">
                                                            <input type="text" name="followdate3" id="followdate3"
                                                                   class="form-control"
                                                                   uib-datepicker-popup="{{inq.format}}"
                                                                   ng-model="inq.followdate3"
                                                                   ng-change="inq.resetTrainerData()"
                                                                   is-open="inq.popup3.opened" datepicker-options="inq.dateOptions"  close-text="Close" /> <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="inq.open3()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <input ng-disabled="true" type="text" class="form-control"
                                                       ng-show="dtbox32"
                                                       ng-model="inq.followdate3" name="dtbox32" id="dtbox32">


                                            </div>
                                            <div class="col-md-6">

                                                <label>Remarks3</label>
                                                <br>

                                                <input type="text" id="rmbox3" ng-disabled="rmbox3" ng-model="inq.rem3"
                                                       class="form-control">


                                            </div>



                         </div>

                         <div class="col-md-12">
                               <div class="col-md-6" style="padding-bottom:20px">
                                 <label >Status of Inquiry<span style="color:red;">*</span></label>
                                                <br>

                                                <select class="form-control" ng-init="inq.stat1='Open'"  name="stat1" id="stat1"
                                                        ng-model="inq.stat1">

                                                    <option value="Open">Open</option>
                                                    <option value="Enroll">Enroll</option>
                                                    <option value="Reject">Reject</option>


                                                </select>




                                            </div>
                                        <div class="col-md-6">
                                            <div ng-show="inq.stat1=='Enroll'">
                                                <br>
                                                <button ng-show="inq.stat1=='Enroll'"
                                                         class="btn-group btn-group-xs btn-danger export-btn btn"
                                                        role="group"
                                                        ng-click='inq.createStudent()' href=''>Enroll</button>
                                            </div>

                                     </div>



                        



                     </div>

                 </md-content>
             </div>
         </div>
     </div>
            </div>


            <div class="col-md-8 text-center center-block ">
                <label>Summary Of Discussion</label>
              <!--  <input type="text" class=""  ng-model="inq.sumofdis" style="width: 200px;height:
            30px">-->
                <textarea class="form-control" rows="3" ng-model="inq.sumofdis" maxlength="300"></textarea>
                <br> <br>
                <button  class="btn btn-primary"  ng-click="inq.updateinquiry()">Submit</button>
                &nbsp;
                &nbsp;
                &nbsp;
                <a href="/app/#/ViewAllInquiries" class="btn btn-primary" style="color: white">Back</a>
            </div>


        </form>

    </div>


</div>






<!-- Your application bootstrap  -->

</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->

