<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>







    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<style>
    .odd {
        background-color: #f2f9ff;

    }
    .even {
        background-color: #eceff3;
    }
</style>

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body>

<div   id="my">

    <div tabindex="0" ng-hide="myVal">
        <!--<form novalidate id="sub" ng-hide="myVal">-->
        <form name="myForm" novalidate  >

            <div >
                <h2>Graphs2</h2>
                <div id="td" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a>Graph 1</a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel panel-default">
                            <md-content class="md-padding" style="background-color:lightblue">

                                    <div id="linechart_material"   chart></div>
                                <br>
                                <div class="row">
                                  &nbsp; &nbsp;  <button type="button" class="btn btn-primary"
                                                   ng-click="Gr2.ShowHide()">Tabular
                                    Data</button>
                                    <button type="button" ng-click="Gr2.expgraph(imgUri)" class="btn btn-warning">Export
                                        Graph</button>


                                </div>



                            </md-content>
                        </div>
                    </div>
                </div>

                <div ng-show="Gr2.IsVisible" id="td1" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a>Tabular Data</a>
                            </h4>
                        </div>
                        <div  class="panel panel-default">
                            <md-content class="md-padding" style="background-color:lightblue">

                             <div id="collapse32" style="background-color: whitesmoke">
                                 <table class="table">
                                     <thead>
                                     <td><label>Month</label></td>
                                     <td><label>Inquiry Revenue</label></td>
                                     <td><label>Student Revenue</label></td>
                                     </thead>
                                     <tbody>
                                     <tr class="odd">
                                         <td>January</td>
                                         <td>{{Jan}}</td>
                                         <td>{{Jan2}}</td>
                                     </tr>
                                     <tr  class="even">
                                         <td>Feburary</td>
                                         <td>{{Feb}}</td>
                                         <td>{{Feb2}}</td>
                                     </tr>
                                     <tr class="odd">
                                         <td>March</td>
                                         <td>{{Mar}}</td>
                                         <td>{{Mar2}}</td>
                                     </tr>
                                     <tr class="even">
                                         <td>April</td>
                                         <td>{{Apr}}</td>
                                         <td>{{Apr2}}</td>
                                     </tr>
                                     <tr class="odd">
                                         <td>May</td>
                                         <td>{{May}}</td>
                                         <td>{{May2}}</td>
                                     </tr>
                                     <tr class="even">
                                         <td>June</td>
                                         <td>{{Jun}}</td>
                                         <td>{{Jun2}}</td>
                                     </tr>
                                     <tr class="odd">
                                         <td>July</td>
                                         <td>{{Jul}}</td>
                                         <td>{{Jul2}}</td>
                                     </tr>
                                     <tr class="even">
                                         <td>August</td>
                                         <td>{{Aug}}</td>
                                         <td>{{Aug2}}</td>
                                     </tr>
                                     <tr class="odd">
                                         <td>September</td>
                                         <td>{{Sep}}</td>
                                         <td>{{Sep2}}</td>
                                     </tr>
                                     <tr class="even">
                                         <td>Octopber</td>
                                         <td>{{Oct}}</td>
                                         <td>{{Oct2}}</td>
                                     </tr>
                                     <tr class="odd">
                                         <td>November</td>
                                         <td>{{Nov}}</td>
                                         <td>{{Nov2}}</td>
                                     </tr>
                                     <tr class="even">
                                         <td>December</td>
                                         <td>{{Dec}}</td>
                                         <td>{{Dec2}}</td>
                                     </tr>

                                     </tbody>


                                 </table>

                             </div>
                                <div class="row">
                                    &nbsp; &nbsp;   <button type="button" ng-click="Gr2.exptbl()" class="btn btn-primary">Export
                                    Table</button>
                                    <button type="button" ng-click="Gr2.exptg(imgUri)" class="btn btn-warning">Export
                                        Table/Graph</button>
                                </div>



                            </md-content>
                        </div>
                    </div>
                </div>

            </div>




                <a href="/app" class="btn btn-info" style="color: white">Back</a>


        </form>

    </div>


</div>






<!-- Your application bootstrap  -->

</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->

