<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>







    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body>

<div  class="container" id="my">

    <div tabindex="0" ng-hide="myVal">
        <!--<form novalidate id="sub" ng-hide="myVal">-->
        <form name="myForm" novalidate  >

            <div class="col-md-8 col-md-offset-3">
                <h2>Admin</h2>
                <div id="td" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a>Email Account</a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel panel-default">
                            <md-content class="md-padding" style="background-color:lightblue">
                                <div class="col-md-12">

                                    <br>
                                    <div class="col-md-6">
                                        <label>Username</label>
                                        <br>
                                        <input type="text" class="form-control" ng-model="Admin.username">
                                    </div>


                                    <div class="col-md-6">
                                        <label>Password</label>
                                        <br>
                                        <input type="password" class="form-control" ng-model="Admin.password">
                                    </div>


                                </div>

                            </md-content>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-8 text-center center-block ">

                <button  class="btn btn-primary"  ng-click="Admin.createmail()">Create</button>
                &nbsp;
                &nbsp;
                &nbsp;
                <a href="/app" class="btn btn-warning" style="color: white">Back</a>
            </div>

        </form>

    </div>


</div>






<!-- Your application bootstrap  -->

</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->

