﻿<%- include('partials/header') %>

    <header>

        <div class="container">

            <div class="row">

                <div class="col-sm-3"><img src="images/logo.png" class="logo" />
                </div>

                <div class="col-sm-9">
                    <h3 class="h2">Training Management System</h3>
                </div>

            </div>

        </div>
    </header>

    <div class="section bg1">

        <div class="container">

            <div class="row">

                <div class="col-sm-7">
                </div>

                <div class="col-sm-5" style="padding:3% 5%">

                    <div class="form-container">
                        <div class="row vdivide">

                            <% if(locals.userexist) { %>
                                <div class="alert alert-danger">
                                    <%= userexist %>
                                </div>
                                <% } %>
                                    <% if(locals.error) { %>
                                        <div class="alert alert-danger">
                                            <%= error %>
                                        </div>
                                        <% } %>
                                            <% if(locals.success) { %>
                                                <div class="alert alert-success">
                                                    <%= success %>
                                                </div>
                                                <% } %>
                                                    <div class="row login-header">
                                                        <div class="forgotpwd">
                                                            <h3>Forgot Password <i class="fa fa-question"></i></h3></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12 login-form">
                                                            <form method="post">
                                                                <div class="form-group row row-login">
                                                                  <div class="login-input"> 
                                                                    <i class="fa fa-user fa-login"></i>
                                                                    <input type="text" name="username" id="username" value="<%= locals.username || '' %>" class="form-control-login" placeholder="Enter your registered email" required />
                                                                  </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="resetlink" class="btn btn-primary">Email Reset Link</button>
                                                                    <a href="/login" class="btn btn-link">Cancel</a>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>