﻿<%- include('partials/header') %>

    <header>

        <div class="container">

            <div class="row">

                <div class="col-sm-3"><img src="images/logo.png" class="logo" />
                </div>

                <div class="col-sm-9">
                    <h3 class="h2">Training Management System</h3>
                </div>

            </div>

        </div>
    </header>

    <div class="section bg1">

        <div class="container">

            <div class="row">

                <div class="col-sm-7">
                </div>

                 <div class="col-sm-5" style="padding:3% 7%">


                    <div class="form-container">

                        <div class=" vdivide">
                           
                           
                            <% if(locals.userexist) { %>

                                <div class="alert alert-danger">
                                    <%= userexist %>
                                </div>
                                <% } %>
                                    <% if(locals.error) { %>

                                        <div class="alert alert-danger">
                                            <%= error %>
                                        </div>
                                        <% } %>
                                            <% if(locals.success) { %>

                                                <div class="alert alert-success">
                                                    <%= success %>
                                                </div>
                                                <% } %>
                                                   
                                                 <div class="row login-header">
                                                    <div class="signin"><h3>Sign In  <i class="fa fa-key"></i></h3></div>
                                                 </div>
                                                 <div class="row">
                                                  <div class="col-sm-12 login-form">
                                                    <form method="post">

                                                        <div class="form-group row row-login">
                                                           <div class="login-input"> 

                                                              <i class="fa fa-user fa-login"></i>

                                                                <input type="email" name="username" id="username" placeholder="Email" autocomplete="on" maxlength="40" value="<%= locals.username || '' %>" class="form-control-login" required />

                                                            </div>

                                                        </div>

                                                       <div class="form-group row row-login">
                                                           <div class="login-input">   
                                                   
                                                             <i class="fa fa-lock fa-login"></i>

                                                                <input type="password" name="password" id="password" class=" form-control-login" placeholder="Password" autocomplete="off" maxlength="16" required />

                                                           </div>

                                                        </div>
                                                        
                                                       
                                                        <div class="form-group row row-login">
                                                            <div class="login-input">
                                                            
                                                                <select class="form-control text-center" name="role" id="role" data-style="btn-primary" required>

                                                                    <option value="">Select Login As</option>

                                                                    <option value="Administrator">Administrator</option>

                                                                    <option value="Counsellor">Counsellor</option>

                                                                    <option value="Guest">Guest</option>

                                                                    <option value="Student">Student</option>

                                                                    <option value="Trainer">Trainer</option>

                                                                </select>

                                                           
                                                           </div>
                                                        </div>

                                                       
                                                        <div class="form-group row row-login">
                                                           <div class="login-input-submit"> 
                                                             <button type="submit" class="btn btn-primary submit-btn ">Login</button>
                                                           </div>
                                                        </div>
                                                            <div class="form-group row ">

                                                                <div><a href="/forgotpassword" class="btn btn-link">I forgot my Password</a>

                                                                </div>
                                                                <div><a href="/register" class="btn btn-link">New User? Sign up here</a>

                                                                </div>

                                                            </div>

                                                    </form>
                                                   </div>
                                                </div>
                                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <%- include('partials/footer') %>