﻿<%- include('partials/header') %>

    <header>

        <div class="container">

            <div class="row">

                <div class="col-sm-3"><img src="images/logo.png" class="logo" />
                </div>

                <div class="col-sm-9">
                    <h3 class="h2">Training Management System</h3>
                </div>

            </div>

        </div>
    </header>

    <div class="section bg1">

        <div class="container">

            <div class="row">

                <div class="col-sm-7">
                </div>

                <div class="col-sm-5" style="padding:3% 7%">

                    <div class="form-container">
                        <div class="row vdivide">
                           

                                
                                <% if(locals.error) { %>
                                    <% for(var i=0; i < error.length; i++) { %>
                                        <div class="alert alert-danger">
                                            <%= error[i].msg %>
                                        </div>
                                        <% } %>
                                            <% } %>
                                                <% if(locals.userexist) { %>
                                                    <div class="alert alert-danger">
                                                        <%= userexist %>
                                                    </div>
                                                    <% } %>
                                                <div class="row login-header">
                                                           <div class="forgotpwd"><h3> <i class="fa fa-user"></i> Register </h3></div>
                                                 </div>
                                                 <div class="row">
                                                      <div class="col-sm-12 login-form">
                                                        <form method="post">

                                                            <div class="form-group row row-login">
                                                                <div class="login-input">   
                                                   
                                                                <i class="fa fa-user fa-login"></i>
                                                                
                                                                    <input type="text" name="firstName" id="firstName" class="form-control-login" autocomplete="on" maxlength="40" value="<%= locals.firstName || '' %>" placeholder="First Name" required />
                                                                </div>
                                                            </div>

                                                           <div class="form-group row row-login">
                                                                <div class="login-input">   
                                                   
                                                                <i class="fa fa-user fa-login"></i>
                                                                    <input type="text" name="lastName" id="lastName" class="form-control-login" autocomplete="on" maxlength="40" value="<%= locals.lastName || '' %>" placeholder="Last Name" required />
                                                                </div>
                                                            </div>

                                                            <div class="form-group row row-login">
                                                                <div class="login-input">   
                                                   
                                                                <i class="fa fa-envelope fa-login"></i>
                                                                    <input type="text" name="username" id="username" class="form-control-login" autocomplete="on" maxlength="40" value="<%= locals.username || '' %>" placeholder="Email" required />
                                                                </div>
                                                            </div>

                                                            <div class="form-group row row-login">
                                                                <div class="login-input">   
                                                   
                                                                <i class="fa fa-lock fa-login"></i>
                                                                    <input type="password" name="password" id="password" class="form-control-login" autocomplete="off" maxlength="16" placeholder="Password" required />
                                                                </div>
                                                            </div>

                                                            <div class="form-group row row-login">
                                                                <label class="col-sm-2">Login As </label>
                                                                <div class="col-sm-10">

                                                                    <select class="form-control text-center" name="role" id="role" required>
                                                                        <option value="">Select Login As</option>
                                                                        <option value="Administrator">Administrator</option>
                                                                        <option value="Counsellor">Counsellor</option>
                                                                        <option value="Guest">Guest</option>
                                                                        <option value="Student">Student</option>
                                                                        <option value="Trainer">Trainer</option>
                                                                    </select>

                                                                </div>
                                                            </div>

                                                            <div class="form-group row row-login">
                                                                <button type="submit" class="btn btn-primary">Register</button>
                                                                <a href="/login" class="btn btn-link">Cancel</a>
                                                            </div>
                                                        </form>
                                                     </div>
                                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>