body {

  /* font-family: Verdana; */

  padding: 20px;

}


.grid {

  width: 100%;

  height: 250px;

}


.grid-msg-overlay {

  position: absolute;

  top: 0;

  bottom: 0;

  width: 100%;

  background: rgba(0, 0, 0, 0.4);

}


.grid-msg-overlay .msg {

  opacity: 1;

  position: absolute;

  top: 20%;

  left: 20%;

  width: 60%;

  height: 50%;

  background-color: #eee;

  border-radius: 4px;

  border: 1px solid #555;

  text-align: center;

  font-size: 24px;

  display: table;

}


.grid-msg-overlay .msg > .center {

  display: table-cell;

  vertical-align: middle;

}


.grid input[type="file"] {

  font-size: 14px;

  display: inline-block;

}

.helptext
{display: inline-block;}
span.helptext-span{
    display: none;
}

.helptext:hover span.helptext-span{
    display:inline-block;
    position:absolute;
    overflow:hidden;
    font-weight: bold;
    background-color:#337ab7;
   color:#fff;
  border:2% solid #337ab7 ;
  border-radius:5%; 
  padding:5px;
  word-wrap:break-word;
  max-width:70px;
   z-index: 300;
   font-size: 0.8em;
   overflow-wrap: break-word;
   overflow: hidden;
   text-align: center;
}

                
