<!DOCTYPE html>
<html>

<body>

<div ng-app="trainingApp">  
<div class="form-container">
<!--div class=" vdivide" style="margin-top:80px;"-->
<div class="col-sm-8">
<dic ng-controller="trainersubmit.IndexController">
<h2>Add New Trainer</h2>
<!-- To do from http://stackoverflow.com/questions/28271303/clear-the-form-after-submit-angularjs -->
<form name=addTrainer ng-submit="tra.submitTrainer() && addTrainer.$valid">

    <div class="form-group row">
    <label for="traLoc" class="col-sm-2 form-control-label">Training Location <span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="traLoc" id="traLoc" ng-model="tra.loc" required>
    <option value="Gurgaon">Gurgaon</option>
    <option value="Noida">Noida</option> 
    <option value="">Select Location</option> </select>
    <span ng-show="addTrainer.traLoc.$error.required"></span>
    </div>
    </div>

    <div class="form-group row">
    <label for="traName" class="col-sm-2 form-control-label">Trainer Name<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <input type="text" name="traName" id="traName" class="form-control" autocomplete="on" maxlength="50" ng-model="tra.name" required />
    </div>
    </div>

    <div class="form-group row">
    <label for="traEmail" class="col-sm-2 form-control-label">Trainer Email <span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <input type="email" name="traEmail" id="traEmail" class="form-control" autocomplete="on" maxlength="80" ng-model="tra.email" required />
    </div>
    </div>

    <div class="form-group row">
    <label for="traCou" class="col-sm-2 form-control-label">Course For Teaching<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="traCou" id="traCou" ng-model="tra.selectedCourse" multiple required>
    <option ng-repeat="x in tra.courseList" ng-if="x.status=='Active'" value="{{x.name}}">{{x.name}}</option>
    </select>
    <span ng-show="addTrainer.traCou.$error.required"></span>
    </div>
    </div>

    <div class="form-group row">
    <label for="traWkdayCapa" class="col-sm-2 form-control-label">Max No. Of Batch In Weekday<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="traWkdayCapa" id="traWkdayCapa" ng-model="tra.wkdayCapa" ng-required="true" ng-init="tra.wkdayCapa = tra.wkdayCapa || tra.batchCapaOptions[0].value" ng-options="option.value as option.name for option in tra.batchCapaOptions" > </select>
    </div>
    </div>

    <div class="form-group row">
    <label for="traWkendCapa" class="col-sm-2 form-control-label">Max No. Of Batch In Weekend<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="traWkendCapa" id="traWkendCapa" ng-model="tra.wkendCapa" ng-required="true" ng-init="tra.wkendCapa = tra.wkendCapa || tra.batchCapaOptions[0].value" ng-options="option.value as option.name for option in tra.batchCapaOptions" > </select>
    </div>
    </div>


    <div class="form-group row">
    <label for="traRemarks" class="col-sm-2 form-control-label">Remarks</label>
    <div class="col-sm-8">
    <input type="text" name="traRemarks" id="traRemarks" class="form-control" autocomplete="on" maxlength="60" ng-model="tra.rem" />
    </div>
    </div>

    <div class="form-group row">
    <input type="submit" id="btnSubmit" class="btn btn-primary" value="Add Trainer" " ng-show="!IsEdit" />

    <input type="button" id="btnCancel" class="btn btn-primary" value="Cancel" " ng-click="tra.cancel()" />

    <!--a href="/app" class="btn btn-primary">Cancel</a-->
    </div>

</form>

</div>  
</div>
</div>
<!--/div-->  

</div>  
</body>
</html>
