<!DOCTYPE html>
<html>
<body>

<style>
table {
    border-collapse: separate;
    empty-cells: hide;
    cellpadding="20";
    border-spacing: 15px;
}

#textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 42px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 480px;
}

</style>

<div ng-app="trainingApp">  
<div class="form-container">
<!--div class=" vdivide" style="margin-top:80px;"-->
<div class="col-sm-8">

<h2>Update Trainer</h2>

<form name=updateTrainer ng-submit="tra.updateTrainer() && updateTrainer.$valid">

  <div class="form-group row">
    <label for="traName" class="col-sm-2 form-control-label">Trainer Name</label>
    <div class="col-sm-8">
    <input type="text" name="traName" id="traName" class="form-control" ng-model="tra.name" ng-disabled="tra.name" />
    </div>
    </div>

    <div class="form-group row">
    <label for="traEmail" class="col-sm-2 form-control-label">Trainer Email</label>
    <div class="col-sm-8">
    <input type="email" name="traEmail" id="traEmail" class="form-control" ng-model="tra.email" ng-disabled="tra.email" />
    </div>
    </div>


    <div class="form-group row">
    <label for="traLoc" class="col-sm-2 form-control-label">Training Location <span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="traLoc" id="traLoc" ng-model="tra.loc" required>
    <option value="Gurgaon">Gurgaon</option>
    <option value="Noida">Noida</option> 
    <option value="">Select Location</option> </select>
    <span ng-show="addTrainer.traLoc.$error.required"></span>
    </div>
    </div>
    
    <div class="form-group row">
    <label for="traPrevCou" class="col-sm-2 form-control-label">Previous Selected Course</label>
    <div class="col-sm-8">
    <div id="textarea" name="traPrevCou" class="form-control" ng-model="tra.oldcoursearray">{{tra.oldcoursearray}}</div>
    <!--input type="text" name="traPrevCou" id="traPrevCou" class="form-control" ng-model="tra.oldcoursearray" ng-disabled="tra.oldcoursearray"/-->
    </div>
    </div>

    <div class="form-group row">
    <label for="traCou" class="col-sm-2 form-control-label">Course For Teaching<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="traCou" id="traCou" ng-model="tra.selectedCourse" multiple>
    <option ng-repeat="x in tra.courseList" ng-if="x.status=='Active'" value="{{x.name}}">{{x.name}}</option>
    </select>
    <!--span ng-show="addTrainer.traCou.$error.required"></span-->
    </div>
    </div>
   
    <div class="form-group row">
    <label for="traWkdayCapa" class="col-sm-2 form-control-label">Max No. Of Batch In Weekday<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="traWkdayCapa" id="traWkdayCapa" ng-model="tra.wkdayCapa" ng-required="true" ng-init="tra.wkdayCapa = tra.wkdayCapa || tra.batchCapaOptions[0].value" ng-options="option.value as option.name for option in tra.batchCapaOptions" > </select>
    </div>
    </div>

    <div class="form-group row">
    <label for="traWkendCapa" class="col-sm-2 form-control-label">Max No. Of Batch In Weekend<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="traWkendCapa" id="traWkendCapa" ng-model="tra.wkendCapa" ng-required="true" ng-init="tra.wkendCapa = tra.wkendCapa || tra.batchCapaOptions[0].value" ng-options="option.value as option.name for option in tra.batchCapaOptions" > </select>
    </div>
    </div>

    <div class="form-group row">
    <label for="traRemarks" class="col-sm-2 form-control-label">Remarks</label>
    <div class="col-sm-8">
    <input type="text" name="traRemarks" id="traRemarks" class="form-control" autocomplete="on" maxlength="60" ng-model="tra.rem" />
    </div>
    </div>

    <div class="form-group row">
    <input type="submit" id="btnSubmit" class="btn btn-primary" value="Update Trainer" " ng-show="!IsEdit" />
    <input type="button"class="btn btn-primary" value="Back" onClick="history.go(-1);return true;"/>
    </div>

</form>

</div>
</div>
</div>
<!--/div-->
</body>
</html>

