<!DOCTYPE html>
<html>
<body>

<div ng-app="trainingApp">  

<div class="row">
    <div class="col-lg-12">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><i class="fa fa-fw fa-table"></i> Available Trainers </div>
    <!--Panel Body -->
    <div class="panel-body">
    <!-- Table -->
    
    <div ng-hide="noData === true" class="table-responsive">

      <label for="chngCol">
     <input type="checkbox" id="chngCol" ng-model="tra.showCol" ng-change="tra.ShowHide()" /> Show/ Hide More Columns 
     </label>

    <div ng-show="tra.isVisible">
      <div style="margin-bottom: 20px">
        <label class="checkbox-inline" ng-repeat="col in tra.viewCols">
          <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="col.show" /> {{col.title()}}</label>

          
      </div>
    </div>

    <table ng-table="tra.tableParams" export-csv='csv' class="table table-bordered table-striped table-hover" ng-table-columns-binding="tra.viewCols">
       <tr ng-repeat="trainer in $data track by $index">
       
           <!--td data-title="'S.No.'" >
               {{$index + 1}}
           </td-->
           <td data-title="'Trainer Location'" ng-if="true" sortable="'trgloc'" filter="{ 'trgloc': 'text' }">
               {{trainer.trgloc}}
           </td>
           <td data-title="'Trainer Name'" ng-if="true" sortable="'trainername'" filter="{ 'trainername': 'text' }" >
               {{trainer.trainername}}
           </td>    
           <td data-title="'Trainer Email'" ng-if="true" filter="{ 'email': 'text' }" >
               {{trainer.email}}
           </td>    
           <td data-title="'Course List'" ng-if="true" filter="{ 'courses': 'text' }">
               {{trainer.courses}}
           </td>
           <td data-title="'Max No. Of Batches In Weekday'" ng-if="false" sortable="'wkdaycapa'" filter="{ 'wkdaycapa': 'text' }">
               {{trainer.wkdaycapa}}
           </td>
           <td data-title="'No. Of Batches Allocated In Weekday'" ng-if="false" sortable="'actwkdaystren'" filter="{ 'actwkdaystren': 'text' }">
               {{trainer.actwkdaystren}}
           </td>
           <td data-title="'Max No. Of Batches In Weekend'" ng-if="false" sortable="'wkendcapa'" filter="{ 'wkendcapa': 'text' }">
               {{trainer.wkendcapa}}
           </td>
           <td data-title="'No. Of Batches Allocated In Weekend'" ng-if="false" sortable="'actwkendstren'" filter="{ 'actwkendstren': 'text' }">
               {{trainer.actwkendstren}}
           </td>    
           <td data-title="'Remarks'" ng-if="false" >
               {{trainer.remarks}}
           </td>
           <td data-title="'Last Modified'" ng-if="false" sortable="'updatedAt'" filter="{ 'updatedAt': 'text' }">
               {{trainer.updatedAt |  date:'medium' }} 
           </td>    
           <td data-title="'Action'" ng-if="true" >
               <!--a href="#/trainer/{{trainer._id}}">Update</a>
               <button ng-click="tra.deleteTrainer($index, trainer, trainer._id, trainer.trainername)">Delete</button-->  <div class="helptext" helptext>
               <button type="button" class="btn btn-default" ng-id="{{trainer._id}}" ng-click="tra.movetoUpdate(trainer._id)" target="_self"><i   class="fa fa-pencil-square-o"></i></button>
                <span class="helptext-span">Update</span>
               </div>
                <div class="helptext" helptext>
               <button type="button" class="btn btn-default" ng-click="tra.deleteTrainer($index, trainer, trainer._id, trainer.trainername)"><i   class="fa fa-trash"></i></button>
               <span class="helptext-span">Delete</span>
               </div>
                <div class="helptext" helptext>
               <button type="button" class="btn btn-default" ng-click='tra.showBatchList(trainer.email)'><i class="fa fa-bold"></i></button>
               <span class="helptext-span">View Assigned Batches</span>
               </div>
           </td>             

       </tr>
    </table>
    </div>
    <div ng-show="noData === true" class="no-data-container"></div>

    <button class="btn btn-primary export-btn" ng-click='csv.generate($event, "trainer-list.csv")' href=''>Export</button>

    <input type="button"class="btn btn-primary" value="Back" onClick="history.go(-1);return true;"/>
    
    </div>  
    </div>
</div>
</div>          
</div>
</body>
</html>


