<!DOCTYPE html>
<html>
<head>
    <title>Add New Course</title>
</head>
<body>

<div ng-app="trainingApp">  
<div class="form-container">
<div class="col-sm-8">

<h2>Add New Course</h2>
<!-- To do from http://stackoverflow.com/questions/28271303/clear-the-form-after-submit-angularjs -->
<form name=addCourse ng-submit="cou.addNewCourse() && addCourse.$valid">

	<div class="form-group row">
    <label for="courseId" class="col-sm-2 form-control-label">Course ID<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <input type="text" name="courseId" id="courseId" class="form-control" autocomplete="on" maxlength="50" ng-model="cou.id" required />
    </div>
    </div>

	<div class="form-group row">
    <label for="courseName" class="col-sm-2 form-control-label">Course Name<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <input type="text" name="courseName" id="courseName" class="form-control" autocomplete="on" maxlength="200" ng-model="cou.name" required />
    </div>
    </div>

	<div class="form-group row">
    <label for="courseFee" class="col-sm-2 form-control-label">Course Fee<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <div class="input-group">
    <div class="input-group-addon">INR</div>
    <input type="number" name="courseFee" id="courseFee" class="form-control" min=1.00 max=100000 ng-model="cou.fee" ng-change="cou.updateTotal()" required>
    </div>
    </div>
    </div>

    <!--div class="form-group row col-sm-8"-->

    <!--uib-accordion class="form-group row col-sm-10">

    <div uib-accordion-group class="panel-default" is-open="cou.open">
      <uib-accordion-heading>Course Fee Breakup<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': cou.open, 'glyphicon-chevron-right': !cou.open}"></i>
      </uib-accordion-heading>
    </div>
    </uib-accordion-->    

    <!--button type="button" class="btn btn-default" ng-click="cou.isCollapsed = !cou.isCollapsed">Course Fee Breakup</button>
    <div uib-collapse="cou.isCollapsed">
      
        
    </div-->

    <!--/div-->
    
    <div class="form-group row">
    <label for="srvcTax" class="col-sm-2 form-control-label">Service Tax<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <div class="input-group">
    <div class="input-group-addon">%</div>
    <input type="number" name="srvcTax" id="srvcTax" class="form-control"  ng-model="cou.srvctax" min=0 max=100 step=0.50   ng-change="cou.updateTotal()" required>
    </div>
    </div>
    </div>

    <div class="form-group row">
    <label for="courseTotalFee" class="col-sm-2 form-control-label">Course Total Fee(Inclusive Of Srvc. Tax)<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <div class="input-group">
    <div class="input-group-addon">INR</div>
    <input type="number" name="courseTotalFee" id="courseTotalFee" class="form-control" min=1.00 max=100000 ng-model="cou.totalfee" ng-change="cou.isTotalCalculated = false" ng-disabled="true">
    </div>
    </div>
    </div>

    
    <div class="form-group row">
    <label for="couRegFee" class="col-sm-4 form-control-label">Course Registration Fee<span style="color:red;">*</span></label>
    <div class="col-sm-4">
    <div class="input-group">
    <div class="input-group-addon">In %</div>
    <input type="number" name="couRegFee" id="couRegFee" class="form-control" min=1.00 max=100.00 ng-model="cou.regFee" required>
    </div>
    </div>
    </div> 

    <div class="form-group row">
    <label for="cou1stInsFee" class="col-sm-4 form-control-label">Course 1st Installment Fee<span style="color:red;">*</span></label>
    <div class="col-sm-4">
    <div class="input-group">
    <div class="input-group-addon">In %</div>
    <input type="number" name="cou1stInsFee" id="cou1stInsFee" class="form-control" min=0.00 max=100.00 ng-model="cou.firInsFee" required>
    </div>
    </div>
    </div>


    <div class="form-group row">
    <label for="cou2ndInsFee" class="col-sm-4 form-control-label">Course 2nd Installment Fee<span style="color:red;">*</span></label>
    <div class="col-sm-4">
    <div class="input-group">
    <div class="input-group-addon">In %</div>
    <input type="number" name="cou2ndInsFee" id="cou2ndInsFee" class="form-control" min=0.00 max=100.00 ng-model="cou.secInsFee" required>
    </div>
    </div> 
    </div>

    <div class="form-group row">
    <label for="courseDuration" class="col-sm-2 form-control-label">Course Duration<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <div class="input-group">
    <div class="input-group-addon">In Hours</div>
    <input type="number" name="courseDuration" id="courseDuration" min=1.00 max=2000 class="form-control" ng-model="cou.duration" required />
    </div>
    </div>
    </div>

    <div class="form-group row">
    <label for="courseStatus" class="col-sm-2 form-control-label">Course Status<span style="color:red;">*</span></label>
    <div class="col-sm-8">

    <select class="form-control text-center" name="courseStatus" id="courseStatus" ng-model="cou.status" ng-init="cou.status = cou.status || cou.statusOptions[0].value" ng-options="option.value as option.name for option in cou.statusOptions"> </select>
    </div>
    </div>

    <div class="form-group row">
    <label for="courseRemarks" class="col-sm-2 form-control-label">Course Remarks</label>
    <div class="col-sm-8">
    <input type="text" name="courseRemarks" id="courseRemarks" class="form-control" autocomplete="on" maxlength="200" ng-model="cou.remarks" />
    </div>
    </div>

    <div class="form-group row">
    <input type="submit" id="btnSubmit" class="btn btn-primary" value="Add Course" " ng-show="!IsEdit" />
    <input type="button" id="btnCancel" class="btn btn-primary" value="Cancel" " ng-click="cou.cancel()" />
    <!--a href="/app" class="btn btn-link">Cancel</a-->
    </div>

</form>
</div>	
</div>
</div>	
</body>
</html>
