<!DOCTYPE html>
<html>
<head>
    <title>View All Course</title>
</head>
<body>

<div ng-app="trainingApp">  
<div class="row">
    <div class="col-lg-12">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><i class="fa fa-fw fa-table"></i> Available Courses </div>
    <!--Panel Body -->
    <div class="panel-body">
    <!-- Table -->
    
    <div ng-hide="noData === true" class="table-responsive">

    <label for="chngCol">
     <input type="checkbox" id="chngCol" ng-model="cou.showCol" ng-change="cou.ShowHide()" /> Show/ Hide More Columns 
     </label>

    <div ng-show="cou.isVisible">
      <div style="margin-bottom: 20px">
        <label class="checkbox-inline" ng-repeat="col in cou.viewCols">
          <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="col.show" /> {{col.title()}}</label>

          
      </div>
    </div>


    <table ng-table="cou.tableParams" export-csv='csv' class="table table-bordered table-striped table-hover" ng-table-columns-binding="cou.viewCols">
       <tr ng-repeat="course in $data track by $index">
       
           <td data-title="'S.No.'" >
               {{$index + 1}}
           </td>
           <td data-title="'Course Id'" ng-if="true" sortable="'id'" filter="{ 'id': 'text' }">
               {{course.id}}
           </td>
           <td data-title="'Course Name'" ng-if="true" sortable="'name'" filter="{ 'name': 'text' }" >
               {{course.name}}
           </td>    
           <td data-title="'Course Fee'" ng-if="true" sortable="'fee'" filter="{ 'fee': 'text' }">
               {{course.fee}}
           </td>    
           
           
           <td data-title="'Service Tax'" ng-if="false" sortable="'srvctax'" 
           filter="{ 'srvctax': 'text' }">
               {{course.srvctax}}
           </td> 

           <td data-title="'Course Total Fee (Srvc. Tax)'" ng-if="true" sortable="'totalfee'" filter="{ 'totalfee': 'text' }">
               {{course.totalfee}}
           </td> 
           <td data-title="'Registration Fee In %'" ng-if="false" sortable="'regfee'" filter="{ 'regfee': 'text' }">
               {{course.regfee}}
           </td>
           <td data-title="'First Installment Fee In %'" ng-if="false" sortable="'firinsfee'" filter="{ 'firinsfee': 'text' }">
               {{course.firinsfee}}
           </td>
           <td data-title="'Second Installment Fee In %'" ng-if="false" sortable="'secinsfee'" filter="{ 'secinsfee': 'text' }">
               {{course.secinsfee}}
           </td>
           <td data-title="'Course Status'" ng-if="true" sortable="'status'" filter="{ 'status': 'text' }">
               {{course.status}}
           </td> 

           <td data-title="'Course Duration (In Hour)'" ng-if="true" sortable="'duration'" filter="{ 'duration': 'text' }">
               {{course.duration}}
           </td> 
           

           <td data-title="'Course Remarks'" ng-if="false" >
               {{course.remarks}}
           </td>
           
           <td data-title="'Last Modified'" ng-if="false" sortable="'updatedAt'" filter="{ 'updatedAt': 'text' }">
               {{course.updatedAt |  date:'medium' }} 
           </td>    
           <td data-title="'Action'" ng-if="true" >
            <div class="helptext" helptext>
                <!--a ng-id="{{course._id}}" ng-href="#/course/{{course._id}}"  > <span>Update</span></a-->
                <button type="button" class="btn btn-default" ng-id="{{course._id}}" ng-click="cou.movetoUpdate(course._id)" target="_self"><i   class="fa fa-pencil-square-o"></i></button>
                 <span class="helptext-span">Update</span>
                </div>
           </td>             
       </tr>
    </table>
    </div>
    <div ng-show="noData === true" class="no-data-container"></div>

    <!--button class="btn btn-default export-btn" ng-click='csv.generate($event, "course-list.csv")' href=''>Export</button-->
    <input type="button" id="btnExport" class="btn btn-primary" value="Export" ng-click='csv.generate($event, "course-list.csv")' />
    <input type="button" id="btnCancel" class="btn btn-primary" value="Cancel" ng-click="cou.cancel()" />
  
    </div>	
    </div>
</div>
</div>	
</div>
</body>
</html>

