﻿<!DOCTYPE html>
<html>
<head>
    <title> Change Password </title>
</head>
<body>

<!--div ng-controller="updateuser.IndexController"-->
<div ng-app="trainingApp">  
<div class="form-container">
<div class="col-sm-8">

<h2>Change Password</h2>
<!-- To do from http://stackoverflow.com/questions/28271303/clear-the-form-after-submit-angularjs -->
<form name=updateUser ng-submit="acc.update() && updateUser.$valid">

    <div class="form-group row">
    <label for="userName" class="col-sm-2 form-control-label">Email<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <input type="email" name="userName" id="userName" class="form-control"  ng-disabled="true" ng-model="acc.email" required />
    </div>
    </div>

    
    <div class="form-group row">
    <label for="oldpasswd" class="col-sm-2 form-control-label">Old Password<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <input type="password" name="oldpasswd" id="oldpasswd" class="form-control" maxlength="16"  ng-model="acc.oldPasswd" required />
    </div>
    </div>

    <div class="form-group row">
    <label for="newpasswd" class="col-sm-2 form-control-label">New Password<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <input type="password" name="newpasswd" id="newpasswd" class="form-control" maxlength="16"  ng-model="acc.newPasswd" required />
    </div>
    </div>

    <div class="form-group row">
    <label for="cnfnewpasswd" class="col-sm-2 form-control-label">Confirm Password<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <input type="password" name="cnfnewpasswd" id="cnfnewpasswd" class="form-control" maxlength="16" ng-model="acc.cnfNewPasswd" required />
    </div>
    </div>

    <div class="form-group row">
    <input type="submit" id="btnSubmit" class="btn btn-primary" value="Update" />
    <input type="button" id="btnCancel" class="btn btn-primary" value="Cancel"  ng-click="acc.cancel()" />
    </div>

</form>
</div>  
</div>
</div>  
</body>


</html>



