<!DOCTYPE html>
<html>
<head>
    <title>Add New Batch</title>
</head>
<body>

<div ng-app="trainingApp">  
<div class="form-container">
<div class="col-sm-8">

<h2>Create New Batch</h2>
<form name=createBatch ng-submit="bat.createNewBatch() && createBatch.$valid">

    <div class="form-group row">
    <label for="batLoc" class="col-sm-2 form-control-label">Location <span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="batLoc" id="batLoc" ng-model="bat.loc" ng-required="!bat.loc" ng-change="bat.resetTrainerData()">
    <option value="">Select Location</option> 
    <option value="Gurgaon">Gurgaon</option>
    <option value="Noida">Noida</option> 
    </select>
    </div>
    </div>


    <div class="form-group row">
    <label for="batCou" class="col-sm-2 form-control-label">Course<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="batCou" id="batCou" ng-model="bat.couObjIdx" ng-required="!bat.course" ng-change="bat.findCouDeta()">
    <option ng-repeat="x in bat.courseList" ng-if="x.status=='Active'" value="{{$index}}">{{x.name}}</option>
    <option value="">Select Course</option>
    </select>
    <span ng-show="createBatch.batCou.$error.required"></span>
    </div>
    </div>

    <div class="form-group row">
    <label for="batPlanDura" class="col-sm-2 form-control-label">Course Duration</label>
    <div class="col-sm-8">
    <div class="input-group">
    <div class="input-group-addon">In Hours</div>
    <input type="text" name="batPlanDura" id="batPlanDura" class="form-control" ng-model="bat.plDuration" ng-disabled="true" />
    </div>
    </div>
    </div>

	<div class="form-group row">
    <label for="batPlanStartDate" class="col-sm-2 form-control-label">Planned Start Date<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <div class="input-group">
    <input type="text" name="batPlanStartDate" id="batPlanStartDate" class="form-control"  uib-datepicker-popup="{{bat.format}}" ng-model="bat.plStartDate" ng-change="bat.resetTrainerData()" is-open="bat.popup1.opened" datepicker-options="bat.dateOptions" ng-required="true" close-text="Close" /> <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="bat.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    </div>
    </div>
    </div>

    <div class="form-group row">
    <label for="batPlanEndDate" class="col-sm-2 form-control-label">Planned End Date<span style="color:red;">*</span></label>
   <div class="col-sm-8">
    <div class="input-group">
    <input type="text" name="batPlanEndDate" id="batPlanEndDate" class="form-control"  uib-datepicker-popup="{{bat.format}}" ng-model="bat.plEndDate" is-open="bat.popup2.opened" datepicker-options="bat.dateOptions" ng-required="true" close-text="Close" /> <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="bat.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    </div>
    </div>
    </div>

    <div class="form-group row">
    <label for="batTimeSlot" class="col-sm-2 form-control-label">Batch Start Time<span style="color:red;">*</span></label>
    <div class="col-sm-4">

    <div class="input-group">
            <input type="text" class="form-control" ng-model="bat.startTime">
            <div class="input-group-btn" uib-dropdown auto-close="outsideClick">
                <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle><i class="glyphicon glyphicon-time"></i></button>
                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                    <li><uib-timepicker ng-model="bat.displayTime" hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>
                </ul>
            </div>
        </div>
    </div>
    </div>


        <div class="form-group row">
    <label for="batEndTimeSlot" class="col-sm-2 form-control-label">Batch End Time<span style="color:red;">*</span></label>
    <div class="col-sm-4">

    <div class="input-group">
            <input type="text" class="form-control" ng-model="bat.endTime">
            <div class="input-group-btn" uib-dropdown auto-close="outsideClick">
                <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle><i class="glyphicon glyphicon-time"></i></button>
                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                    <li><uib-timepicker ng-model="bat.displayTime2" hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>
                </ul>
            </div>
        </div>
    </div>
    </div>


    <div class="form-group row">
    <label for="batTarStren" class="col-sm-2 form-control-label">Batch Capacity<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <input type="number" name="batTarStren" id="batTarStren" class="form-control"  min="1" max="50" ng-model="bat.tarStrength" ng-required="true" />
    </div>
    </div>

    <div class="form-group row">
    <label for="batTrainer" class="col-sm-2 form-control-label">Trainer<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="batTrainer" id="batTrainer" ng-model="bat.traObjIdx"
           ng-change="bat.findTraData()" ng-required="!bat.trainer">
    <option ng-repeat="x in bat.trainerList" value="{{$index}}">{{x.trainername}}</option>
    <option value="">Select Trainer</option>
    </select>
    <span ng-show="createBatch.batTrainer.$error.required"></span>
    </div>
    <div class="helptext" helptext>
    <button type="button" class="btn btn-default" ng-click="bat.getTrainer()" ng-disabled="!(bat.course && bat.loc && bat.plStartDate)"><i class="fa fa-search"></i></button>
    <span class="helptext-span">Find Trainer</span>
    </div>
    </div>


    <div class="form-group row">
    <label for="batStatus" class="col-sm-2 form-control-label">Batch Status <span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="batStatus" id="batStatus" ng-model="bat.status" ng-init="bat.status = bat.status || bat.statusOptions[0].value" ng-options="option.value as option.name for option in bat.statusOptions"> 
    </select>
    </div>
    </div>

    <div class="form-group row">
    <label for="batRem" class="col-sm-2 form-control-label">Remarks</label>
    <div class="col-sm-8">
    <input type="text" name="batRem" id="batRem" class="form-control" maxlength="200" ng-model="bat.remarks" />
    </div>
    </div>

    <div class="form-group row">
    <input type="submit" id="btnSubmit" class="btn btn-primary" value="Create Batch"/>
    <input type="button" id="btnCancel" class="btn btn-primary" value="Cancel" ng-click="bat.cancel()" />
    </div>

</form>
</div>	
</div>
</div>	
</body>
</html>
