 <!DOCTYPE html5>
<html>
<body>

<div ng-app="trainingApp">  
<div class="form-container">
<div class="col-sm-8">

<h2>Update Batch</h2>
<form name=updateBatch ng-submit="bat.updateBatch() && updateBatch.$valid">

    <div class="form-group row">
    <label for="batId" class="col-sm-2 form-control-label">Batch Id</label>
    <div class="col-sm-8">
    <input type="text" name="batId" id="batId" class="form-control" maxlength="80" ng-model="bat.batId" ng-disabled="true" required />
    </div>
    </div>


    <div class="form-group row">
    <label for="batLoc" class="col-sm-2 form-control-label">Location</label>
    <div class="col-sm-8">
    <input type="text" class="form-control" name="batLoc" id="batLoc" ng-model="bat.loc" ng-disabled="true" required>
    </div>
    </div>

    <div class="form-group row">
    <label for="batCou" class="col-sm-2 form-control-label">Course</label>
    <div class="col-sm-8">
    <input type="text" class="form-control" name="batCou" id="batCou" ng-model="bat.course" ng-disabled="true" required>
    </div>
    </div>


    <div class="form-group row">
    <label for="batPlanDura" class="col-sm-2 form-control-label">Planned Duration</label>
    <div class="col-sm-8">
    <input type="text" name="batPlanDura" id="batPlanDura" class="form-control" ng-model="bat.plDuration" ng-disabled="true"  required />
    </div>
    </div>


    <div class="form-group row">
    <label for="batPlanStartDate" class="col-sm-2 form-control-label">Planned Start Date</label>
    <div class="col-sm-8">
    <div class="input-group col-sm-8">
    <input type="text" name="batPlanStartDate" id="batPlanStartDate" class="form-control"  ng-model="bat.plStartDate" ng-disabled="true" required />
    </div>
    </div>
    </div>

    <div class="form-group row">
    <label for="batPlanEndDate" class="col-sm-2 form-control-label">Planned End Date</label>
    <div class="col-sm-8">
    <div class="input-group col-sm-8">
    <input type="text" name="batPlanEndDate" id="batPlanEndDate" class="form-control" ng-model="bat.plEndDate" ng-disabled="true" required />
    </div>
    </div>
    </div>


    <div class="form-group row">
    <label for="batStartTimeSlot" class="col-sm-2 form-control-label">Batch Start Time</label>
    <div class="col-sm-8">
    <input type="text" name="batStartTimeSlot" id="batStartTimeSlot" class="form-control" ng-model="bat.batStartTime" ng-disabled="true" required />
    </div>
    </div>

    <div class="form-group row">
    <label for="batEndTimeSlot" class="col-sm-2 form-control-label">Batch End Time</label>
    <div class="col-sm-8">
    <input type="text" name="batEndTimeSlot" id="batEndTimeSlot" class="form-control" ng-model="bat.batEndTime" ng-disabled="true" required />
    </div>
    </div>

    <div class="form-group row">
    <label for="batTrainer" class="col-sm-2 form-control-label">Trainer</label>
    <div class="col-sm-8">
    <input type="text" class="form-control" name="batTrainer" id="batTrainer" ng-model="bat.trainer" ng-disabled="true" required>
    </div>
    </div>

    <div class="form-group row">
    <label for="batNewTrainer" class="col-sm-2 form-control-label">New Trainer</label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="batNewTrainer" id="batNewTrainer" ng-disabled="bat.isStatusComp==true" ng-model="bat.traObjIdx" ng-change="bat.findTraData()">
    <option ng-repeat="x in bat.trainerList" value="{{$index}}">{{x.trainername}}</option>
    </select>
    </div>
     <div class="helptext" helptext>
    <button type="button" class="btn btn-default" ng-click="bat.getTrainer()" ng-disabled="((!(bat.course && bat.loc && bat.plStartDate)) || (bat.isStatusComp==true))"><i class="fa fa-search"></i></button>
    <span class="helptext-span">Want to Change Trainer? Find New Trainer</span>
    </div>
    </div>
    


    <div class="form-group row">
    <label for="batTarStren" class="col-sm-2 form-control-label">Batch Capacity<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <input type="number" name="batTarStren" id="batTarStren" class="form-control"  min="1" max="50" ng-disabled="bat.isStatusComp==true" ng-model="bat.tarStrength" required />
    </div>
    </div>

    <div class="form-group row">
    <label for="batActStren" class="col-sm-2 form-control-label">Batch Current Strength<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <input type="number" name="batActStren" id="batActStren" class="form-control" ng-model="bat.actStrength" ng-disabled="true" />
    </div>
    </div>


    <div class="form-group row">
    <label for="batStatus" class="col-sm-2 form-control-label">Batch Status <span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="batStatus" id="batStatus" ng-disabled="bat.isStatusComp==true" ng-model="bat.status" ng-options="option.value as option.name for option in bat.statusOptions">
    </select>
    </div>
    </div>

    <div class="form-group row">
    <label for="batActStartDate" class="col-sm-2 form-control-label">Actual Start Date<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <div class="input-group">
    <input type="text" name="batActStartDate" id="batActStartDate" class="form-control" ng-disabled="bat.isStatusComp==true" uib-datepicker-popup="{{bat.format}}" ng-model="bat.actStartDate" is-open="bat.popup3.opened" datepicker-options="bat.dateOptions" ng-required="bat.status == bat.statusOptions[0].value || bat.status == bat.statusOptions[2].value" close-text="Close" /> <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="bat.open3()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    </div>
    </div>
    </div>

    <div class="form-group row">
    <label for="batActEndDate" class="col-sm-2 form-control-label">Actual End Date<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <div class="input-group">
    <input type="text" name="batActEndDate" id="batActEndDate" class="form-control" ng-disabled="bat.isStatusComp==true" uib-datepicker-popup="{{bat.format}}" ng-model="bat.actEndDate" is-open="bat.popup4.opened" datepicker-options="bat.dateOptions" ng-required="bat.status == bat.statusOptions[2].value" close-text="Close" /> <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="bat.open4()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    </div>
    </div>
    </div>

    <div class="form-group row">
    <label for="batRem" class="col-sm-2 form-control-label">Remarks</label>
    <div class="col-sm-8">
    <input type="text" name="batRem" id="batRem" class="form-control" maxlength="200" ng-model="bat.remarks" />
    </div>
    </div>


    <div class="form-group row">
    <!--input type="button" id="btnGetNewTrainer" class="btn btn-primary" value="Find New Trainer" ng-click="bat.getTrainer()" ng-disabled="!(bat.course && bat.loc && bat.plStartDate)"/-->
    <input type="submit" id="btnSubmit" class="btn btn-primary" value="Update Batch" />
    <input type="button"class="btn btn-primary" value="Back" onClick="history.go(-1);return true;"/>
    </div>

</form>
</div>	
</div>
</div>
</body>
</html>
