<!DOCTYPE html>
<html>
<head>
    <title>View All Batches</title>
    
</head>
<body>

<div ng-app="trainingApp">  
<div class="row">
    <div class="col-lg-12">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><i class="fa fa-fw fa-table"></i> Available Batches </div>
    <!--Panel Body -->
    <div class="panel-body">
    <!-- Table -->
    
    <div ng-hide="noData === true" class="table-responsive">

    <label for="chngCol">
     <input type="checkbox" id="chngCol" ng-model="bat.showCol" ng-change="bat.ShowHide()" /> Show/ Hide More Columns 
     </label>

    <div ng-show="bat.isVisible">
      <div style="margin-bottom: 20px">
        <label class="checkbox-inline" ng-repeat="col in bat.viewCols">
          <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="col.show" /> {{col.title()}}</label>

          
      </div>
    </div>


    <table ng-table="bat.tableParams" export-csv='csv' class="table table-bordered table-condensed table-striped table-hover"  ng-table-columns-binding="bat.viewCols">

        
       <tr ng-repeat="batch in $data track by $index" >       

           <td data-title="'ID'"  ng-if="true",  sortable="'id'" filter="{ 'id': 'text' }">
               {{batch.id}}
           </td>

           <td data-title="'Location'"  ng-if="true",  sortable="'loc'" filter="{ 'loc': 'text' }">
               {{batch.loc}}
           </td>

           <td data-title="'Course'" ng-if="true" sortable="'course'" filter="{ 'course': 'text' }" >
               {{batch.course}}
           </td>    

           <td data-title="'Trainer'" ng-if="true" sortable="'trainer'" filter="{ 'trainer': 'text' }">
               {{batch.trainer}}
           </td>    

           <td data-title="'Capacity'"  ng-if="true",  sortable="'targetstren'" filter="{ 'targetstren': 'text' }">
               {{batch.targetstren}}
           </td>

          <td data-title="'Current Strength'"  ng-if="true",  sortable="'actualstren'" filter="{ 'actualstren': 'text' }">
               {{batch.actualstren}}
           </td>

           <td data-title="'Start Time'" ng-if="false" sortable="'starttimeslot'" filter="{ 'starttimeslot': 'text' }">
               {{batch.starttimeslot}}
           </td>

           <td data-title="'End Time'" ng-if="false" sortable="'endtimeslot'" filter="{ 'endtimeslot': 'text' }">
               {{batch.endtimeslot}}
           </td>    

           <td data-title="'Planned Start Date'" ng-if="true" sortable="'plstartdate'" filter="{ 'plstartdate': 'text' }">
               {{batch.plstartdate |  date:'dd/MMM/yyyy'}}
           </td>

           <td data-title="'Planned End Date'" ng-if="true" sortable="'plenddate'" filter="{ 'plenddate': 'text' }">
               {{batch.plenddate | date:'dd/MMM/yyyy'}}
           </td>

           <td data-title="'Planned Duration (Hrs)'" ng-if="false" sortable="'plduration'" filter="{ 'plduration': 'text' }">
               {{batch.plduration}}
           </td>

           <td data-title="'Actual Start Date'" ng-if="true" sortable="'actstartdate'" filter="{ 'actstartdate': 'text' }">
               {{batch.actstartdate |  date:'dd/MMM/yyyy'}}
           </td>

           <td data-title="'Actual End Date'" ng-if="true" sortable="'actenddate'" filter="{ 'actenddate': 'text' }">
               {{batch.actenddate |  date:'dd/MMM/yyyy'}}
           </td>

           <td data-title="'Status'" ng-if="true" sortable="'status'" filter="{ 'status': 'text' }">
               {{batch.status}}
           </td>
           
           <!--td data-title="'Schedule Variance'" ng-if="false" sortable="'schvariance'" filter="{ 'schvariance': 'text' }">
               {{batch.schvariance}}
           </td-->

           <td data-title="'Remarks'" ng-if="false" sortable="'remarks'" filter="{ 'remarks': 'text' }">
               {{batch.remarks}}
           </td>
           <td data-title="'Last Modified'" ng-if="false" sortable="'updatedAt'" filter="{ 'updatedAt': 'text' }">
               {{batch.updatedAt |  date:'medium' }} 
           </td>    
           <td data-title="'Action'" ng-if="true">
                <!--a ng-id="{{batch._id}}" ng-href="#/batch/{{batch._id}}" target="_self">
 <span>Update</span>
</a>        
                <button ng-click="bat.deleteBatch($index, batch, batch._id)">Delete</button-->
                <!--button class="btn btn-default export-btn" ng-click='bat.moveToUpdateBatch(batch)' href=''>Update</button--> 
                <div class="helptext" helptext>
                <button type="button" class="btn btn-default" ng-click='bat.moveToUpdateBatch(batch)'><i   class="fa fa-pencil-square-o"></i></button>
                 <span class="helptext-span">Update</span>
                </div>
                <div class="helptext" helptext>
                <button type="button" class="btn btn-default" ng-click='bat.showStudentList(batch.id)'><i class="fa fa-users "></i></button>
                 <span class="helptext-span">View Assigned Students</span> 
                </div>
                



           </td>             
       </tr>
    </table>

    </div>
    <div ng-show="noData === true" class="no-data-container"></div>

    <button class="btn btn-primary export-btn" ng-click='csv.generate($event, "batch-list.csv")' href=''>Export</button>     
    <input type="button"class="btn btn-primary" value="Back" onClick="history.go(-1);return true;"/>
    </div>  
    </div>
</div>
</div>  
</div>
</body>
</html>
