 <!DOCTYPE html5>
<html>
<body>

<div ng-app="trainingApp">  
<div class="form-container">
<div class="col-sm-8">
<style>
  .filter {font-size: 20px}

</style>
<h2>Show Batches</h2>
  <div class="container">
  <div class="row">
   <a href="#" class="filter" ng-click="bat.showFilter('course')">Course Wise</a>
   <div ng-show="bat.showCourse">    
    <label for="batCou" class="col-sm-2 form-control-label">Select Course</label>
    <div class="col-sm-4">
    <select class="form-control text-center" name="batCou" id="batCou" ng-model="bat.course" required>
    <option ng-repeat="x in bat.courseList" ng-if="x.status=='Active'" value="{{x.name}}">{{x.name}}</option>
    </select>
    </div>
     <input type="button" class="btn btn-primary pull-center" value="View Batches" ng-click="bat.viewBatCou(bat.course)"/>
   </div>
  </div>
  <br>
  <div class="row">
   <a href="#" class="filter" ng-click="bat.showFilter('location')">Location Wise</a>
   <div ng-show="bat.showLoc">    
    <label for="batLoc" class="col-sm-2 form-control-label">Select Location</label>
    <div class="col-sm-4">
    <select class="form-control text-center" name="batLoc" id="batLoc" ng-model="bat.loc" required>
    <option value="Gurgaon">Gurgaon</option>
    <option value="Noida">Noida</option> 
    </select>
    </div>
     <input type="button" class="btn btn-primary pull-center" value="View Batches" ng-click="bat.viewBatLoc(bat.loc)"/>
   </div>
  </div>
  
  <br>
  <div class="row">
   <a href="#" class="filter" ng-click="bat.showFilter('date')">Date Wise</a>
   <div ng-show="bat.showDate">


    <!--label for="batDateType" class=" form-control-label">Select Location</label>
    <div class="col-sm-2">
    <select class="form-control text-center" name="batDateType" id="batDateType" ng-model="bat.dateType" required>
    <option value="Actual">Gurgaon</option>
    <option value="Planned">Noida</option> 
    </select-->
    <div class="col-sm-10">
    <label for="batStartDate" class="col-sm-2 form-control-label">Start Date</label>
    <div class="col-sm-2">
    <div class="input-group">
    <input type="text" name="batStartDate" id="batStartDate" class="form-control"  uib-datepicker-popup="{{bat.format}}" ng-model="bat.startDate" is-open="bat.popup1.opened" datepicker-options="bat.dateOptions" ng-required="true" close-text="Close" /> <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="bat.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    <!--/div>
    </div-->


    <label for="batEndDate" class="col-sm-2 form-control-label">End Date</label>
    <div class="col-sm-2">
    <div class="input-group">
    <input type="text" name="batEndDate" id="batEndDate" class="form-control"  uib-datepicker-popup="{{bat.format}}" ng-model="bat.endDate" is-open="bat.popup2.opened" datepicker-options="bat.dateOptions" ng-required="true" close-text="Close" /> <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="bat.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    </div>
    </div>
</div>
     <input type="button" class="btn btn-primary pull-center" value="View Batches" ng-click="bat.viewBatDate(bat.startDate, bat.endDate)"/>
   </div>
  </div>
  <br>
  <div class=" row">
    <input type="button" id="btnCancel" class="btn btn-primary" value="Cancel" ng-click="bat.cancel()" />
    </div>
  </div>
</div>  
</div>
</div>
</body>
</html>
