<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>inquiry</title>


    <!-- Bootstrap Core CSS -->


    <!-- Custom CSS -->




    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<style>

  #inquiry_details
{
  
  width:40%;
  border:1px solid grey;
   position:fixed;
   right:5%;
   top:50%;
   z-index:300;
   
   overflow: hidden;
   
  
}
#inquiry_details>.header_row
{
  background:grey;
  background: #28d;
  color: #fff;
  text-align: center;
}
.body_row
{
  text-align: center;
}
.inqtable
{
    width:100%;
}
.inqrow
{
 font-size: 0.8em;
 background:#1F1B1C;
 color:#fff;
 width:100%;
}
.inqrowbody
{
 width:100%;
 padding:5%;
 text-align: center;
}
.inqrow>th
{
 padding:3%;

}
#close
{
  background:transparent;
  border:none;
  font-weight: 600;
  font-size: 1.2em;
  float: right;
  color:red; 
  position: static;
}
</style>





</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body>

<div  class="container col-md-offset-3" id="my">

    <div tabindex="0" ng-hide="myVal">
        <!--<form novalidate id="sub" ng-hide="myVal">-->
        <form name="myForm" novalidate  >
            <div class="col-md-8">
                <h2>Retail Inquiry</h2>
                <div id="inq" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse1">Inquiry Details</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <md-content class="md-padding"  style="background-color:lightblue">

                                <div  class="col-md-12">

                                    <div class="row" style="background-color:whitesmoke ">
                                        <div class="col-md-12">
                                            <br>
                                            <label for="inqsrc"> Inquiry Source<span style="color:red;">*</span> </label><br>
                                            <select name="inqsrc" class="form-control" required id="inqsrc" ng-model="inq.src" >
                                                <option value="">Select Inquiry Source</option>
                                                <option value="Mail">Mail</option>
                                                <option value="Phone">Phone</option>
                                                <option value="Reference">Reference</option>
                                                <option value="Walkin">Walkin</option>
                                            </select>
<!--edited by poonam-->                <div style="overflow:hidden" ng-show="inq.src == 'Reference'">
                                            <label ng-show="inq.src == 'Reference'">Referred By</label><br>
                                              <select  class="form-control" ng-show="inq.src == 'Reference'" required id="srcref" ng-model="inq.srcref">
                                                <option value="">Select Referred By</option>
                                                <option value="Employee">Employee</option>
                                                <option value="Ex-Employee">Ex-Employee</option>
                                                <option value="Student">Student</option>
                                                <option value="Ex-Student">Ex-Student</option>
                                                <option value="Others">Others</option>
                                            </select>
                                             <br>
                                            <label ng-show="(inq.srcref == 'Employee' || inq.srcref=='Ex-Employee' || inq.srcref =='Student' || inq.srcref =='Ex-Student' || inq.srcref =='Others')">Referred By Name</label><br>

                                            <input type="text" ng-show="(inq.srcref == 'Employee' || inq.srcref =='Ex-Employee' || inq.srcref =='Student' || inq.srcref =='Ex-Student' || inq.srcref =='Others' )" required
                                                   ng-model="inq.srcrefname" class="form-control" id="srcrefname" style="width: 100%;height: 30px">
     <!--***********-->                   </div>
                                        </div>

                                        <div class="col-md-12">

                                            <br>
                                            <label for="inqfor">Inquiry For<span style="color:red;">*</span></label>
                                            <br>
                                            <select name="inqfor" class="form-control" id="inqfor" multiple ng-model="inq.for" ng-required='!inq.for'>
                                                <option value="Training">Training</option>
                                                <option value="Certification" ng-disabled='!enabled'>Certification</option>

                                            </select>
                                        </div>
                                        <div class="col-md-12" ng-show="inq.for == 'Certification'" ng-disabled="inq.for=='Certification'">

                                            <br>
                                            <label for="inqfor">  Where was training done<span style="color:red;">*</span> </label>
                                            <br>
                                            <select name="inqfor1" ng-required="inq.for == 'Certification'" class="form-control" id="inqffor1" multiple ng-model="inq.for1">
                                                <option value="FosteringLinux">FosteringLinux</option>
                                                <option value="Other">Other</option>

                                            </select>


                                            <label  ng-show="inq.for1 == 'Other'" >  Institute Details<span style="color:red;">*</span></label>
                                            <br>

                                            <input id="inqffor2" ng-show="inq.for1 == 'Other'" ng-disabled="inq.for1=='Other'" class="form-control" type="text" ng-model="inq.for2" placeholder="institute name"  style="width: 100%;height: 30px">
                                            <br>
                                            <input id="inqffor3"  ng-show="inq.for1 == 'Other'" ng-disabled="inq.for1=='Other'" class="form-control" type="text" ng-model="inq.for3" placeholder="institute location"  style="width: 100%;height: 30px">

                                        </div>


                                        <div class="col-md-12">
                                            <br>

                                            <label for="inqloc">Inquiry Location</label>
                                            <br>
                                            <select name="inqloc" class="form-control" id="inqloc" ng-model="inq.loc" ng-required='!inq.loc' ng-disabled="inq.for1=='Other'">
                                                <option value="">Select Inquiry Location</option>
                                                <option value="Gurgaon">Gurgaon</option>
                                                <option value="Noida">Noida</option>

                                            </select>
                                        </div>





                                        <div class="col-md-12">
                                            <br>
                                            <label for="inqhandler">Person handling inquiry<span style="color:red;">*</span></label>

                                            <input class="form-control" type="text" id="inqhandler" ng-disabled="true" ng-model="inq.handler"  ng-required='!inq.handler' style="width: 100%;height: 30px">
                                            <br>
                                        </div>

                                    </div>

                                </div>
                            </md-content>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div id="cd" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse2">Candidate Details</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <md-content class="md-padding" style="background-color:lightblue">
                                <div class="col-md-12">


                                    <div class="row" style="background-color: whitesmoke">
                                        <div class="col-md-12">
                                            <br>

                                            <label for="candname1">Candidate Name<span style="color:red;">*</span></label>
                                            <br>

                                            <input type="text" class="form-control" id="candname1" ng-model="inq.candname" ng-required='!inq.candname'  style="width: 100%;">
                                            <br>

                                        </div>

                                        <div class="col-md-12">

                                            <label for="candnum1">Contact Number 1<span style="color:red;">*</span></label>
                                            <br>
                                            <input  numbers-only class="form-control" placeholder="10 digits mobile number"
                                                   type="text"
                                                   id="candnum1"
                                                   ng-model="inq.candnum1"  ng-required='!inq.candnum1'  style="width: 100%;">
                                            <br>

                                        </div>

                                        <div class="col-md-12">

                                            <label for="candnum2">Contact Number 2</label>
                                            <br>
                                            <input class="form-control" type="text" id="candnum2" ng-model="inq.candnum2"   style="width: 100%;">
                                            <br>
                                        </div>



                                        <div class="col-md-12">
                                           <div class="col-md-10" style="margin-left:-15px;">
                                            <label for="candmail">Email Id<span style="color:red;">*</span></label> <br>
                                            <input class="form-control" type='email' id="candmail" name='candmail' ng-model='inq.candmail'  ng-required='!inq.candmail'  style="width: 100%;" />
                                           </div>
                                            <div class="col-md-2" style="margin-right:-15px;margin-top:5px">
                                            <br>
                    <!--edited by poonam-->  <div class="helptext" helptext style="float:right">
                                              <button class="btn btn-default export-btn" ng-click="inq.getData(inq.candmail)" ng-disabled="inq.candmail==null" id="search_email" style="float:right;width:100%"> <i class="fa fa-search"></i></button>  <br><br>       
                                                 <span class="helptext-span" style="width:90px">Search related Inquries  of this candidate</span>
                                              </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">

                                            <label for="candlinkin">LinkedIn Id</label> <br> <input id="candlinkin" class="form-control" type="text" ng-model="inq.candlinkin"   style="width: 100%;">
                                            <br>
                                        </div>


                                        <div class="col-md-12">
                                            <label for="candfb">Facebook Id </label>
                                            <br>
                                            <input class="form-control" type="text" id="candfb" ng-model="inq.candfacebook"  style="width: 100%;">
                                            <br>
                                        </div>


                                        <div class="col-md-12">
                                            <label for="candtwitter">Twitter Id</label>
                                            <br>
                                            <input class="form-control" id="candtwitter" type="text" ng-model="inq.candtwitter"  style="width: 100%;">
                                            <br>
                                        </div>



                                    </div>

                                </div>

                            </md-content>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div id="ed" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse3">Educational Details</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <md-content class="md-padding" style="background-color:lightblue">
                                <div class="col-md-12">


                                    <div class="row" style="background-color: whitesmoke">

                                        <div class="col-md-12">

                                            <br>

                                            <table class="table table-responsive">

                                                <tbody>
                                                <tr>
                                                    <td>

                                                        <label>Class<span style="color:red;">*</span></label>
                                                        <br>
                                                        <select class="form-control"  name="inqeduclass1" id="inqeduclass1" ng-model="inq.educlass1"  >
                                                            <option value="twelve">12 class</option>
                                                            <option value="btech">B.tech</option>
                                                            <option value="mtech">M.tech</option>
                                                            <option value="mca">MCA</option>
                                                            <option value="bca">BCA</option>
                                                            <option value="bba">BBA</option>

                                                        </select>


                                                    </td>
                                                    <td>

                                                        <label for="candname1">Name of Institute<span style="color:red;">*</span></label>
                                                        <br>
                                                        <input type="text" id="eduname1" ng-model="inq.eduname1" ng-required="!inq.eduname1" class="form-control" textOnly>


                                                    </td>
                                                    <td>

                                                        <label>Location of Institute<span style="color:red;">*</span></label>
                                                        <br>

                                                        <input type="text" class="form-control" id="eduloc1"  ng-model="inq.eduloc1" ng-required="!inq.eduloc1">



                                                    </td>
                                                    <td>

                                                        <label >Year of Passing<span style="color:red;">*</span></label>
                                                        <br>

                                                        <input class="form-control" id="eduyear1" type="text"
                                                               ng-model="inq.eduyear1" ng-required="!inq.eduyear1" numbers-only>


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>

                                                        <label>Class</label>
                                                        <br>
                                                        <select class="form-control" name="inqeduclass1" id="inqeduclass2" ng-model="inq.educlass2">
                                                            <option value="twelve">12 class</option>
                                                            <option value="btech">B.tech</option>
                                                            <option value="mtech">M.tech</option>
                                                            <option value="mca">MCA</option>
                                                            <option value="bca">BCA</option>
                                                            <option value="bba">BBA</option>

                                                        </select>



                                                    </td>
                                                    <td>

                                                        <label>Name of Institute</label>
                                                        <br>

                                                        <input class="form-control" type="text" ng-model="inq.eduname2">



                                                    </td>
                                                    <td>

                                                        <label>Location of Institute</label>
                                                        <br>

                                                        <input class="form-control" type="text" ng-model="inq.eduloc2" >


                                                    </td>
                                                    <td>

                                                        <label>Year of Passing</label>
                                                        <br>

                                                        <input class="form-control" type="month" ng-model="inq.eduyear2" numbers-only>


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>

                                                        <label>Class</label>
                                                        <br>
                                                        <select class="form-control"   name="inqeduclass3" id="inqeduclass3" ng-model="inq.educlass3" >
                                                            <option value="twelve">12 class</option>
                                                            <option value="btech">B.tech</option>
                                                            <option value="mtech">M.tech</option>
                                                            <option value="mca">MCA</option>
                                                            <option value="bca">BCA</option>
                                                            <option value="bba">BBA</option>

                                                        </select>


                                                    </td>
                                                    <td>

                                                        <label>Name of Institute</label>
                                                        <br>

                                                        <input type="text" ng-model="inq.eduname3" class="form-control" allowPattern allowPattern="[a-zA-Z\s]">


                                                    </td>
                                                    <td>

                                                        <label>Location of Institute</label>
                                                        <br>

                                                        <input type="text" ng-model="inq.eduloc3" class="form-control" ng-pattern="/^[a-zA-Z\s]*$/">


                                                    </td>
                                                    <td>

                                                        <label>Year of Passing</label>
                                                        <br>

                                                        <input type="month" ng-model="inq.eduyear3" class="form-control" numbers-only>


                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>


                                        </div>

                                    </div>

                                </div>

                            </md-content>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div id="jd" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse4">Job Details</a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <md-content class="md-padding" style="background-color:lightblue">
                                <div class="col-md-12">

                                    <div class="row" style="background-color: whitesmoke">
                                        <div class="col-md-12">
                                            <br>
                                            <label>Job experience in Years</label>
                                            <br>
                                          <!--  <input class="form-control" type="text"  ng-model="inq.exp"  style="width: 100%;" numbers-only>-->
                                           <select class="form-control"  id="mexp2" ng-model="inq.exp" >
                                                            <option value="zero">0</option>										   
                                                            <option value="one">1</option>
                                                            <option value="two">2</option>
                                                            <option value="three">3</option>
                                                            <option value="four">4</option>
                                                            <option value="five">5</option>
                                                            <option value="five+">5+</option>
                                                        </select>

                                        </div>

                                        <div class="col-md-12" ng-show="inq.exp == 'zero'">


                                            <label for="candgenexp">Linux exposure if any  </label>
                                            <br>
                                            <input class="form-control" type="text" ng-model="inq.genexp" placeholder="Mention Linux tools etc"> <br>



                                        </div>

                                        <div class="col-md-12" ng-show="inq.exp != 0">
                                            <table class="table table-responsive">

                                                <tbody>
                                                <tr>
                                                    <td>

                                                        <label>Months of experience</label>
                                                        <br>
                                                        <input id="mexp1" class="form-control"  type="text"
                                                               ng-model="inq.jobexp1"
                                                               numbers-only />
                                                    </td>
                                                    <td>
                                                        <label >Current Organization &nbsp;</label> <br> <input type="text" ng-model="inq.jobdet1" class="form-control" >
                                                    </td>
                                                    <td>
                                                        <label >Location of Organization</label> <br>  <input type="text" ng-model="inq.jobloc1" class="form-control" >

                                                    </td>
                                                    <td>
                                                        <label >Linux tools etc</label><br> <br> <input type="text" ng-model="inq.joblinux1" class="form-control">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label >Months of experience</label> <br>
                                                        <input type="text"
                                                                                                         id="mexp2"
                                                                                                         numbers-only
                                                                                                         ng-model="inq.jobexp2" class="form-control">

                                                    </td>
                                                    <td>
                                                        <label >Current Organization &nbsp;</label> <br>  <input type="text" ng-model="inq.jobdet2" class="form-control" >

                                                    </td>
                                                    <td>
                                                        <label >Location of Organization</label> <br> <input type="text" ng-model="inq.jobloc2" class="form-control">

                                                    </td>
                                                    <td>
                                                        <label >Linux tools etc</label> <br> <br> <input type="text" ng-model="inq.joblinux2" class="form-control" >

                                                    </td>

                                                </tr>
                                                </tbody>


                                            </table>


                                        </div>









                                    </div>

                                </div>

                            </md-content>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-8">
                <div id="td" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse5">Training Details</a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                            <md-content class="md-padding" style="background-color:lightblue">
                                <div class="col-md-12">

                                    <div class="row" style="background-color: whitesmoke">
                                        <div class="col-md-12">

                                            <div>
                                                <br>

                                                <label for="inqdestrg"> Desired Training Course<span style="color:red;">*</span> </label>
                                                <br>

                                                <select required class="form-control" id="inqdestrg" ng-model="inq.destrg"  ng-change="getfee(inq.destrg)">

                                                    <option ng-repeat="c in inq.courseList" ng-if="c.status=='Active' "value="{{c.name}}">{{c.name}}</option>
                                                    <option value="Others">Others</option>
                                                </select>

                                                <br ng-show="inq.destrg=='Others'">
                                                <label ng-show="inq.destrg=='Others'" >Other Training Course Name<span
                                                        style="color:red;">*
                                                </span> </label>
                                                <input id="othcrse" type="text"  ng-show="inq.destrg=='Others'" 
                                                       class="form-control"  ng-model="inq.othCou">
                                                <br ng-show="inq.destrg=='Others'">
                                                <label ng-show="inq.destrg=='Others'">Other Training Course Fee</label>
                                                <input type="text" id="othfee" numbers-only ng-show="inq.destrg=='Others'"
                                                       class="form-control" placeholder="Course Fee" ng-model="inq.othfee">
                                                <br ng-show="inq.destrg=='Others'">
                                                <label ng-show="inq.destrg=='Others'">Other Training Course Duration</label>
                                                <input numbers-only type="text" id="othdur" ng-show="inq.destrg=='Others'"
                                                        class="form-control" placeholder="Course Duration" ng-model="inq.othdur">                                                                                                                                                   <br>                                                <!--
                                                                                          <select ng-model="inq.destrg" ng-change="hg(inq.destrg)" class="form-control"  >
                                                                                              <option ng-repeat="c in inq.courseList" value="{{c.fee}}">{{c.name}}</option>

                                                                                          </select> -->

                                            </div>



											<div class="form-group row">
                                             <div class="col-md-12">
                                                 <label for="inqdesmonth">Desired Starting Date<span style="color:red;">*</span></label>
                                                      <div class="input-group">
                                                                <input type="text" name="inqmonth" id="inqmonth" ng-model="inq.desdate" ng-required="!inq.desdate"  class="form-control"  uib-datepicker-popup="{{inq.format}}" is-open="inq.popup1.opened" datepicker-options="inq.dateOptions" close-text="Close" /> <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default" ng-click="inq.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                             </span>
                                                     </div>
                                                      </br>
                                             </div>
                                            </div>


                                            <div class="form-group row">

                                                <label for="batTimeSlot"
                                                       class="col-sm-2 form-control-label">
                                                    Time Slot<span style="color:red;">*</span></label>
                                                <div class="col-sm-5">

                                                    <div class="input-group">
                                                        <input type="text" class="form-control"
                                                               ng-model="inq.startTime" id="startTime">
                                                        <div class="input-group-btn" uib-dropdown auto-close="outsideClick">
                                                            <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle><i class="glyphicon glyphicon-time"></i></button>
                                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                                <li><uib-timepicker ng-model="inq.displayTime"
                                                                                    hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>


                                                 <div class="col-sm-5">

                                                    <div class="input-group">
                                                        <input type="text" class="form-control"
                                                               ng-model="inq.endTime" id="endTime">
                                                        <div class="input-group-btn" uib-dropdown auto-close="outsideClick">
                                                            <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle><i class="glyphicon glyphicon-time"></i></button>
                                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                                <li><uib-timepicker ng-model="inq.displayTime2"
                                                                                    hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div >


                                                <label for="inqdesday">Desired Training Day<span style="color:red;">*</span></label>
                                                <br>
                                                <select class="form-control"  name="inqdesday" id="inqdesday" multiple ng-model="inq.desday" ng-required="!inq.desday">
                                                    <option value="Monday">Monday</option>
                                                    <option value="Tuesday">Tuesday</option>
                                                    <option value="Wednesday">Wednesday</option>
                                                    <option value="Thursday">Thursday</option>
                                                    <option value="Friday">Friday</option>
                                                    <option value="Saturday">Saturday</option>
                                                    <option value="Sunday">Sunday</option>

                                                </select>
                                                <br>

                                            </div>



                                            <div>
                                                <label for="inqdesloc">Desired Training Location<span style="color:red;">*</span></label>
                                                <br>
                                               

                                                
                                                  <select class="form-control" name="inqdesloc" id="inqdesloc" ng-model="inq.desloc" ng-required="!inq.desloc">
                                                    <option value="">Choose Below</option>
                                                    <option value="Gurgaon">Gurgaon</option>
                                                    <option value="Noida">Noida</option>
                                                  </select>
                                                  
                                                <br>

                                            </div>


                                            <div class="helptext">

                                                <label >Duration Of Suggested Course</label>

                                               
                                                <br>
                                                <span class="helptext-span" ng-show="inq.destrg=='Others'">Duration is 0 because selected course 'Others' is not available.</span>
                                                <div class="input-group">

                                                    <span class="input-group-addon" id="basic-addon2">Hours</span>

                                                    <input type="text" ng-disabled="true" class="form-control" name="inqdests"
                                                           id="dosc" ng-model="inq.dosc"
                                                           aria-describedby="basic-addon2"  ng-required="!inq.dosc"
                                                           style="width: 100%;" numbers-only>

                                                    </div>







                                            </div>
                                            <br>



                                            <div class="helptext">

                                                <label >Fee Of Suggested Course</label>
                                                <br>
                                                <span class="helptext-span" ng-show="inq.destrg=='Others'">Fees of suggested course is 0 because selected course 'Others' is not available.</span>
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1">INR</span>
                                                    <input type="text" name="inqfosc" id="fsdc" disabled
                                                           class="form-control"
                                                           ng-model="inq.fosc" ng-required="!inq.fosc" aria-describedby="basic-addon1" numbers-only>


                                                </div>







                                            </div>

                                            <br>
                                            <div class="helptext">

                                                <label >Discount Requested</label>     <!--edited by poonam-->
                                                <br>
                                                 <span class="helptext-span" ng-show="inq.destrg=='Others'">Discount offered is 0 because selected course 'Others' is not available.</span>
                                                <input type="text" ng-disabled="inq.destrg=='Others'"
                                                       class="form-control" name="inqdests" id="dio"
                                                       placeholder="Enter in %"  ng-model="inq.dio" ng-keyup="nefee()"
                                                       style="width:
                                                       100%;">




                                            </div>

                                            <div class="helptext">

                                                <label >Discounted Fee</label>
                                                <br>
                                                 <span class="helptext-span" ng-show="inq.destrg=='Others'">Discount fee is 0 because selected course 'Others' is not available.</span>
                                                <input type="text" ng-disabled="inq.destrg=='Others'"
                                                       class="form-control" name="inqdisfee" id="disfee"
                                                         ng-model="inq.difee" ng-keyup="nefee()"
                                                       style="width:
                                                       100%;">




                                            </div>


                                            <br>

                                           <div class="helptext">

                                                <label >Service Tax</label>
                                                <br>
                                                  <span class="helptext-span" ng-show="inq.destrg=='Others'">Service Tax is 0 because selected course 'Others' is not available.</span>
                                                <input type="text" ng-disabled="true" class="form-control"
                                                       name="inqstax"
                                                       id="stax" ng-model="inq.stax"
                                                       style="width: 100%;">




                                            </div>

                                            <br>

                                            <div ng-show="inq.dio > '0'">

                                                <label >Discount Approved By</label>  <!--edited by poonam-->
                                                <br>
                                                  
                                                <input type="text" class="form-control" name="inqdests" ng-model="inq.da" id="da" ng-required="!inq.da" style="width: 100%;">


                                                <br>

                                            </div>

                                            <div >

                                                <label >Net Fee</label>
                                                <br>

                                                <input type="text"
                                                       class="form-control" name="inqnetfee" id="netfee"
                                                        ng-model="inq.netfee" style="width: 100%;" ng-disabled="true">

                                                <br>


                                            </div>

                                        </div>






                                    </div>

                                </div>

                            </md-content>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="col-md-8 text-center center-block ">
                <label>Summary Of Discussion</label>
            <!--<input type="text"  ng-model="inq.sumofdis" style="width: 200px;height:
            30px"> -->
                <textarea class="form-control" rows="3" ng-model="inq.sumofdis" maxlength="300"></textarea>
                <br> <br>
                <button  class="btn btn-primary"  ng-click="inq.reviewInquiry()">Submit</button>
                &nbsp;
                &nbsp;
                &nbsp;
                <button class="btn btn-danger" ng-click="inq.rese()">Reset</button> &nbsp; &nbsp; &nbsp;
                <a href="/app" class="btn btn-warning" style="color: white">Cancel</a>
            </div>


        </form>

    </div>

    <div  tabindex="1" id="rvinq"  ng-hide="myVal1" >

        <div   class="col-md-8" style="background-color: whitesmoke">
            <table  class="table" >
                <h3>Inquiry Details</h3>
                <tr>
                    <td><label>Inquiry Source</label></td>
                    <td>{{inq.src}}</td>
                </tr>
                <tr ng-show="inq.src=='Reference'" ng-hide="inq.src !='Reference'">
                    <td><label>Referred By</label></td>
                    <td>{{inq.srcref.toString()}}</td>                     <!--******Added by Poonam*************-->
                </tr>
                <tr ng-show="(inq.srcref == 'Employee' || inq.srcref =='Ex-Employee' || inq.srcref =='Student' || inq.srcref =='Ex-Student' || inq.srcref =='Others')" ng-hide="inq.src !='Reference'">
                    <td><label>Referred By Name </label></td>
                    <td>{{inq.srcrefname.toString()}}</td>                     <!--******Added by Poonam*************-->
                </tr>
                <tr>
                    <td><label>Inquiry For</label></td>
                    <td>{{inq.for.toString()}}</td>                        <!--******Added by Poonam*************-->
                </tr>
                <tr ng-show="inq.for=='Certification'" >
                    <td><label>Where Was Training Done</label></td>
                    <td>{{inq.for1}}</td>
                </tr>
                <tr ng-show="inq.for=='Certification'">
                    <td><label>Institute Name</label></td>
                    <td>{{inq.for2}}</td>
                </tr>

                <tr ng-show="inq.for=='Certification'">
                    <td><label>Institute Details</label></td>
                    <td>{{inq.for3}}</td>
                </tr>


                <tr>
                    <td><label>Inquiry Location</label></td>
                    <td>{{inq.loc}}</td>
                </tr>

                <tr>
                    <td><label>Person Handling Inquiry</label></td>
                    <td>{{inq.handler}}</td>
                </tr>
            </table>
        </div>


        <div class="col-md-8" style="background-color: whitesmoke">
            <table class="table">
                <h3>Candidate Details</h3>
                <tr>
                    <td><label>Candidate Name</label></td>
                    <td>{{inq.candname}}</td>
                </tr>
                <tr>
                    <td><label>Contact Number 1</label></td>
                    <td>{{inq.candnum1}}</td>
                </tr>
                <tr>
                    <td><label>Contact Number 2</label></td>
                    <td>{{inq.candnum2}}</td>
                </tr>
                <tr>
                    <td><label>Email Id</label></td>
                    <td>{{inq.candmail}}</td>
                </tr>

                <tr>
                    <td><label>Linkedin Id</label></td>
                    <td>{{inq.candlinkin}}</td>
                </tr>


                <tr>
                    <td><label>Facebook Id</label></td>
                    <td>{{inq.candfacebook}}</td>
                </tr>

                <tr>
                    <td><label>Twitter Id</label></td>
                    <td>{{inq.candtwitter}}</td>
                </tr>
            </table>
        </div>

        <div class="col-md-8" style="background-color: whitesmoke">
            <table class="table">
                <h3>Educational Details</h3>
                <tr>
                    <td><label>Class</label></td>
                    <td>{{inq.educlass1}}</td>
                </tr>
                <tr>
                    <td><label>Name Of Institute</label></td>
                    <td>{{inq.eduname1}}</td>
                </tr>
                <tr>
                    <td><label>Location Of Institute</label></td>
                    <td>{{inq.eduloc1}}</td>
                </tr>
                <tr>
                    <td><label>Year Of Passing</label></td>
                    <td>{{inq.eduyear1}}</td>
                </tr>

                <tr>
                    <td><label>Class</label></td>
                    <td>{{inq.educlass2}}</td>
                </tr>
                <tr>
                    <td><label>Name Of Institute</label></td>
                    <td>{{inq.eduname2}}</td>
                </tr>
                <tr>
                    <td><label>Location Of Institute</label></td>
                    <td>{{inq.eduloc2}}</td>
                </tr>
                <tr>
                    <td><label>Year Of Passing</label></td>
                    <td>{{inq.eduyear2}}</td>
                </tr>


                <tr>
                    <td><label>Class</label></td>
                    <td>{{inq.educlass3}}</td>
                </tr>
                <tr>
                    <td><label>Name Of Institute</label></td>
                    <td>{{inq.eduname3}}</td>
                </tr>
                <tr>
                    <td><label>Location Of Institute</label></td>
                    <td>{{inq.eduloc3}}</td>
                </tr>
                <tr>
                    <td><label>Year Of Passing</label></td>
                    <td>{{inq.eduyear3}}</td>
                </tr>

            </table>
        </div>

        <div class="col-md-8" style="background-color: whitesmoke">
            <table class="table">
                <h3>Job Details</h3>
                <tr>
                    <td><label>Job Experience</label></td>
                    <td>{{inq.exp}}</td>
                </tr>
                <tr>
                    <td><label>Linux Exposure If Any</label></td>
                    <td>{{inq.genexp}}</td>
                </tr>
                <tr>
                    <td><label>Months Of Experience</label></td>
                    <td>{{inq.jobexp1}}</td>
                </tr>
                <tr>
                    <td><label>Current Organization</label></td>
                    <td>{{inq.jobdet1}}</td>
                </tr>

                <tr>
                    <td><label>Location Of Organization</label></td>
                    <td>{{inq.jobloc1}}</td>
                </tr>


                <tr>
                    <td><label>Linux Tools</label></td>
                    <td>{{inq.joblinux1}}</td>
                </tr>

                <tr>
                    <td><label>Months Of Experience</label></td>
                    <td>{{inq.jobexp2}}</td>
                </tr>
                <tr>
                    <td><label>Current Organization</label></td>
                    <td>{{inq.jobdet2}}</td>
                </tr>

                <tr>
                    <td><label>Location Of Organization</label></td>
                    <td>{{inq.jobloc2}}</td>
                </tr>


                <tr>
                    <td><label>Linux Tools</label></td>
                    <td>{{inq.joblinux2}}</td>
                </tr>



            </table>
        </div>

        <div class="col-md-8" style="background-color: whitesmoke">
            <table class="table">
                <h3>Training Details</h3>
                <tr>
                    <td><label>Desired Training Course</label></td>
                    <td>{{inq.destrg}}</td>
                </tr>
                <tr ng-show="inq.destrg=='Others'">
                    <td><label>Other Training Course</label></td>
                    <td>{{inq.othCou}}</td>
                </tr>
                <tr ng-show="inq.destrg=='Others'">
                    <td><label>Other Training Fee</label></td>
                    <td>{{inq.othfee}}</td>
                </tr>

                <tr ng-show="inq.destrg=='Others'">
                    <td><label>Other Training Duration</label></td>
                    <td>{{inq.othdur}}</td>
                </tr>
                <tr>
                    <td><label>Desired Starting Date</label></td>          <!--*****use filter Edited by Poonam*******-->
                    <td>{{inq.desdate.toString() |  date:'dd/MMM/yyyy'}}</td>
                </tr>
                <tr>
                    <td><label>Time Slot Start Time</label></td>           <!--******Edited by Poonam*******-->
                    <td>{{inq.startTime}}</td>
                </tr>

                <tr>
                    <td><label>Time Slot End Time</label></td>             <!--******Edited by Poonam*******-->
                    <td>{{inq.endTime}}</td>
                </tr>
                <tr>
                    <td><label>Desired Training Day</label></td>
                    <td>{{inq.desday.toUTCString()}}</td>                       <!--******Edited by Poonam*******-->
                </tr>

                <tr>
                    <td><label>Desired Training Location</label></td>
                    <td>{{inq.desloc}}</td>
                </tr>



                <tr>
                    <td><label>Duration Of Suggested Course</label></td>
                    <td>{{inq.dosc}}</td>
                </tr>

                <tr>
                    <td><label>Fee Of Suggested Course</label></td>
                    <td>{{inq.fosc}} <label class="small text-muted"> INR</label></td>
                </tr>

                <tr>
                    <td><label>Discount Requested</label></td>                              <!--Edited by poonam-->
                    <td>{{inq.dio}} <label class="small text-muted"> %</label></td>
                </tr>

                <tr>
                    <td><label>Discounted Fee</label></td>
                    <td>{{inq.difee+0}} <label class="small text-muted"> INR</label></td> <!--Edited by Poonam-->
                </tr>




                <tr>
                    <td><label>Service Tax</label></td>
                    <td>{{inq.stax}} <label class="small text-muted"> %</label></td>
                </tr>





                <tr>
                    <td><label>Discount Approved By</label></td>
                    <td>{{inq.da}}</td>
                </tr>

                <tr>
                    <td><label>Net Fee</label></td>
                    <td>{{inq.netfee+0}} <label class="small text-muted"> INR</label></td><!--Edited by Poonam-->
                </tr>




            </table>
        </div>
        <div class="col-md-8" style="background-color: whitesmoke">


            <table class="table">

                <tr>
                    <td><label>Summary Of Discussion</label></td>
                    <td>{{inq.sumofdis}}</td>
                </tr>





            </table>
        </div>
        <div class="col-md-8">
            <table class="table">
                <tr>
                    <td><button class="btn btn-primary btn-block" ng-click="inq.submitInquiry()"> Ok </button></td>
                    <td><button class="btn btn-block btn-danger" ng-click="inq.rdirect()">Cancel</button></td>
                </tr>
            </table>
        </div>

    </div>
</div>



 <div id="inquiry_details" class="col-xs-12">
    
        <div class="row header_row" style="padding:1%">
           <div class="col-xs-10">
            <h4>List of Previous Inquiry</h4> 
           </div>
           <div class="col-xs-2">
           <input type="button" value="X" id="close">
           </div>
        </div>
 
 <div class="row">
  <div style="overflow:auto;background:#fff">

       <table class="inqtable">
         <tr class="inqrow">          
          <th>Candidate Name</th>
          <th>Candidate Email</th>
          <th>Desired Course</th>
          <th>Inquiry Status</th>
          <th>Inquiry Date</th>

        </tr>
        <tr ng-repeat="inquiry in inq.mailfound" class="inqrowbody">
          <td>{{inquiry.candname}}</td>
           

 		  <td>{{inquiry.candmail}}</td>
 		  <td>{{inquiry.destrg}}</td>
 		  <td>{{inquiry.stat1}}</td>
          <td>{{inquiry.updatedAt | date:'dd/MMM/yyyy'}}</td>
        </tr>

       </table>
 
  </div>
 </div>
</div>
<!-- Your application bootstrap  -->


<script>
  
  $(document).ready(function(){
   
      $('#search_email').click(function(){
        $('#inquiry_details').show();

    });
      $('#close').click(function(){
        $('#inquiry_details').hide();
    });
  });
</script>


</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->

