<!DOCTYPE html>
<html>
<head>
    <title>View All Inquiries</title>
</head>
<body>

<div ng-app="trainingApp">  
<div class="row">
    <div class="col-lg-12">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><i class="fa fa-fw fa-table"></i> Available Inquiries </div>
    <!--Panel Body -->
    <div class="panel-body">
    <!-- Table -->
    
    <div ng-hide="noData === true" class="table-responsive">

    <label for="chngCol">
     <input type="checkbox" id="chngCol" ng-model="inq.showCol" ng-change="inq.ShowHide()" /> Show/ Hide More Columns 
     </label>

    <div ng-show="inq.isVisible">
      <div style="margin-bottom: 20px">
        <label class="checkbox-inline" ng-repeat="col in inq.viewCols">
          <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="col.show" /> {{col.title()}}</label>

          
      </div>
    </div>


    <table ng-table="inq.tableParams" export-csv='csv' class="table table-bordered table-condensed table-striped table-hover"  ng-table-columns-binding="inq.viewCols">


       <tr ng-repeat="inquiry in $data track by $index" >       
           <!--td data-title="'S.No.'" >
               {{$index + 1}}
           </td-->
           <td data-title="'Candidate Name'" ng-if="true" filter="{ 'candname': 'text' }">
               {{inquiry.candname}}
           </td>

           <td data-title="'Contact Number'" ng-if="true" filter="{ 'candnum1': 'text' }">
               {{inquiry.candnum1}}
           </td>

           <td data-title="'Email Id'" ng-if="true" filter="{ 'candmail': 'text' }">
               {{inquiry.candmail}}
           </td>


           <td data-title="'Des. Course'" ng-if="true" sortable="'destrg'" filter="{ 'destrg': 'text' }">
               {{inquiry.destrg}}
           </td>

           <td data-title="'Des. Date'" ng-if="false" sortable="'desmon'" filter="{ 'desmon': 'text' }">
               {{inquiry.desmon |  date:'dd/MMM/yyyy'}}
           </td>


           <td data-title="'Des. Day'" ng-if="false" sortable="'desday'" filter="{ 'desday': 'text' }">
               {{inquiry.desday}}
           </td>

           <td data-title="'Des Start Time'" ng-if="false" sortable="'startTime'" filter="{ 'startTime': 'text' }">
               {{inquiry.startTime}}
           </td>

           <td data-title="'Des End Time'" ng-if="false" sortable="'endTime'" filter="{ 'endTime': 'text' }">
               {{inquiry.endTime}}
           </td>

           <td data-title="'Des. Training Loc'" ng-if="true" sortable="'desloc'" filter="{ 'desloc': 'text' }">
               {{inquiry.desloc}}
           </td>

           <td data-title="'Fee of Suggested Course'" ng-if="false" sortable="'fosc'" filter="{ 'fosc': 'text' }">
               {{inquiry.fosc}}
           </td>

           <td data-title="'Discount'" ng-if="false" sortable="'dio'" filter="{ 'dio': 'text' }">
               {{inquiry.dio}}
           </td>
           <td data-title="'Discount approved by'" ng-if="false" sortable="'da'" filter="{ 'da': 'text' }">
               {{inquiry.da}}
           </td>

           <td data-title="'Followup date 1'" ng-if="false" sortable="'followdate1'" filter="{ 'followdate1': 'text' }">
               {{inquiry.followdate1 | date:'dd/MMM/yyyy'}}       <!--edited by poonam filter is added-->
           </td>

           <td data-title="'Remark 1'" ng-if="false" sortable="'rem1'" filter="{ 'rem1': 'text' }">
               {{inquiry.rem1}}
           </td>

           <td data-title="'Followup date 2'" ng-if="false" sortable="'followdate2'" filter="{ 'followdate2': 'text' }">
               {{inquiry.followdate2 | date:'dd/MMM/yyyy'}}         <!--edited by poonam filter is added-->
           </td>

           <td data-title="'Remark 2'" ng-if="false" sortable="'rem2'" filter="{ 'rem2': 'text' }">
               {{inquiry.rem2}}
           </td>

           <td data-title="'Followup date 3'" ng-if="false" sortable="'followdate3'" filter="{ 'followdate3': 'text' }">
               {{inquiry.followdate3 | date:'dd/MMM/yyyy'}}             <!--edited by poonam filter is added-->
           </td>
           <td data-title="'Remark 3'" ng-if="false" sortable="'rem3'" filter="{ 'rem3': 'text' }">
               {{inquiry.rem3}}
           </td>
           <td data-title="'Status'" ng-if="true" sortable="'stat1'" filter="{ 'stat1': 'text' }">
               {{inquiry.stat1}}
           </td>
           <td data-title="'Last Modified'" ng-if="true" sortable="'updatedAt'" filter="{ 'updatedAt': 'text' }">
               {{inquiry.updatedAt |  date:'medium'}}
           </td>









          <td data-title="'Action'" ng-if="true">
          <div class="helptext" helptext>
    <a ng-href='#/updateinquiry/{{inquiry._id}}'>
    <button type="button"  class="btn btn-default" role="group"
            ng-id="{{inquiry._id}}"
                       ><i   class="fa fa-pencil-square-o"></i></button></a>
                <span class="helptext-span">Update</span>
               </div>
                                                              <!-- follow up button is inactive edited by poonam-->
              <!-- <div class="helptext" helptext>
                    <a  ng-href="#/followup/{{inquiry._id}}">
             <button type="button" class="btn btn-default" role="group" ng-id="{{inquiry._id}}"
           ><i class="fa fa-user-plus"></i></button></a>
              <span class="helptext-span">Follow-up & Enroll</span>
              </div>-->
               </td>





       </tr>
    </table>

    </div>
    <div ng-show="noData === true" class="no-data-container"></div>

    <button class="btn btn-default export-btn" ng-click='csv.generate($event, "inquiry-list.csv")' href=''>Export</button>     
    
    </div>  
    </div>
</div>
</div>  
</div>
</body>
</html>
