<!DOCTYPE html>
<html>
<head>
    <title>Create User </title>
</head>
<body>

<!--div ng-controller="updateuser.IndexController"-->
<div ng-app="trainingApp">  
<div class="form-container">
<div class="col-sm-8">

<h2>Update User</h2>
<!-- To do from http://stackoverflow.com/questions/28271303/clear-the-form-after-submit-angularjs -->
<form name=updateUser ng-submit="admin.update() && updateUser.$valid">

    <div class="form-group row">
    <label for="fisrtName" class="col-sm-2 form-control-label">First Name<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <input type="text" name="fisrtName" id="fisrtName" class="form-control" ng-model="admin.firNam" required />
    </div>
    </div>

    <div class="form-group row">
    <label for="lastName" class="col-sm-2 form-control-label">Last Name<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <input type="text" name="lastName" id="lastName" class="form-control" autocomplete="on" maxlength="50" ng-model="admin.lasNam" required />
    </div>
    </div>

    <div class="form-group row">
    <label for="userName" class="col-sm-2 form-control-label">Email<span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <input type="email" name="userName" id="userName" class="form-control" ng-model="admin.email" required />
    </div>
    </div>

    <div class="form-group row">
    <label for="userRole" class="col-sm-2 form-control-label">Login As <span style="color:red;">*</span></label>
    <div class="col-sm-8">
    <select class="form-control text-center" name="userRole" id="userRole" ng-model="admin.role" required>
    <option value="">Select Login As</option> 
    <option value="Administrator">Administrator</option>
    <option value="Counsellor">Counsellor</option> 
    <option value="Guest">Guest</option> 
    <option value="Student">Student</option> 
    <option value="Trainer">Trainer</option> 
    </select>
    <span ng-show="updateUser.userRole.$error.required"></span>
    </div>
    </div>

    <div class="form-group row">
    <input type="submit" id="btnSubmit" class="btn btn-primary" value="Update" />
    <input type="button" class="btn btn-primary" value="Back" onClick="history.go(-1);return true;"/>
    </div>

</form>
</div>  
</div>
</div>  
</body>


</html>



