<!DOCTYPE html>
<html>
<head>
    <title>View All Users</title>
</head>
<body>

<div ng-app="trainingApp">  
<div class="row">
    <div class="col-lg-12">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><i class="fa fa-fw fa-table"></i> Available Users </div>
    <!--Panel Body -->
    <div class="panel-body">
    <!-- Table -->
    
    <div ng-hide="noData === true" class="table-responsive">

    <label for="chngCol">
     <input type="checkbox" id="chngCol" ng-model="admin.showCol" ng-change="admin.ShowHide()" /> Show/ Hide More Columns 
     </label>

    <div ng-show="admin.isVisible">
      <div style="margin-bottom: 20px">
        <label class="checkbox-inline" ng-repeat="col in admin.viewCols">
          <input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="col.show" /> {{col.title()}}</label>

          
      </div>
    </div>


    <table ng-table="admin.tableParams" export-csv='csv' class="table table-bordered table-striped table-hover" ng-table-columns-binding="admin.viewCols">
       <tr ng-repeat="user in $data track by $index">
       
           <td data-title="'S.No.'" >
               {{$index + 1}}
           </td>
           <td data-title="'First Name'" ng-if="true" sortable="'firstName'" filter="{ 'firstName': 'text' }">
               {{user.firstName}}
           </td>
           <td data-title="'Last Name'" ng-if="true" sortable="'lastName'" filter="{ 'lastName': 'text' }" >
               {{user.lastName}}
           </td>    

           <td data-title="'User Name'" ng-if="true" sortable="'username'" filter="{ 'username': 'text' }" >
               {{user.username}}
           </td>    

           <td data-title="'Role'" ng-if="true" sortable="'role'" filter="{ 'role': 'text' }" >
               {{user.role}}
           </td>    

           <td data-title="'Last Modified'" ng-if="false" sortable="'updatedAt'" filter="{ 'updatedAt': 'text' }">
               {{user.updatedAt |  date:'medium' }} 
           </td>    
           <td data-title="'Action'" ng-if="true" >
            <div class="helptext" helptext>
                <button type="button" class="btn btn-default" ng-id="{{user._id}}" ng-click="admin.movetoUpdate(user.username)" target="_self"><i   class="fa fa-pencil-square-o"></i></button>
                 <span class="helptext-span">Update</span>
                </div>

                <div class="helptext" helptext>
               <button type="button" class="btn btn-default" ng-click="admin.deleteuser($index, user)"><i   class="fa fa-trash"></i></button>
               <span class="helptext-span">Delete</span>
               </div>
           </td>             
       </tr>
    </table>
    </div>
    <div ng-show="noData === true" class="no-data-container"></div>

    <input type="button" id="btnExport" class="btn btn-primary" value="Export" ng-click='csv.generate($event, "course-list.csv")' />
    <input type="button" id="btnCancel" class="btn btn-primary" value="Cancel" ng-click="admin.cancel()" />
  
    </div>	
    </div>
</div>
</div>	
</div>
</body>
</html>

