       html
           {
           
                
            height: 100%;
           
           }
            body
            {
                background:transparent;
                padding-top: 0px;
                font-family: "Helvetica Neue",Helvetica,Verdana,Tahoma,Arial,sans-serif;
                height:100%;
                min-height: 100%
            }
            .bg1
            {  
                 background-image:url("../images/background3.jpg");
               
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover; 
                padding-top: 2%;
                height:80%;

            }
            .logo
            {
                margin-left: 0px;
                float: left;

            }
            .h2 {
                font: 400 2.5em 'Merienda One', Helvetica, sans-serif;
                 color:#28d;
                text-shadow: 3px 3px 3px #fff;
                text-align: left;
                
                }
            #loginErrDiv {
                overflow: hidden;
                height: 20px;
            }
            
            
            .login-header
            {
                background:#28d;
                overflow:hidden;
                color:#fff;

            }
            .signin
            {
                text-align:left;
                overflow:hidden; 
                padding:0% 8%;
            }
            .forgotpwd
            {
                text-align:left;
                overflow:hidden; 
                padding:0% 15%;
            }

            .login-form
            {
                padding:7% 18%;
            }
            .login-input
            {
                
                width:100%;
                float: right;
                overflow:hidden;
                
                border:1px solid #999;
                
            } 
            .login-input-submit
            {
                width:100%;
                float: right;
                overflow:hidden;
                

            }
            .login-input input:focus{
                border:none;
                outline: none;
               -webkit-box-shadow: none;
                box-shadow: none;
               }
            .login-input:focus
            {
                border:1px solid blue;
                outline: none;
              
            }
            .fa-login
            {
                width:10%;
                float:left;
                padding:2%;
                text-align:center;top:5%;
                font-size:1.6em;
                background:#fff;
                padding:3% 2%;
                height:40px;
                color:#28d;;
            }
            .form-control-login
            {
                width:90%;
                float:right;
                border:none;
                height:40px;
                padding:0% 5%;
            }
            .role
            {
               
                padding:2% 1%; 
                
                font-weight: 500;
                font-size: 1.0em;

            }
            .row-login
            {
                background:#fff;
            }

            .submit-btn {
                width: 100%;
                 border:none;
                background-color: #28d;;
                font-size: 18px;
                color: #fff;
            }

            .login-footer {
                clear: both;
                width: 100%;
                margin-bottom: 0px;
                background-color: transparent;

            }
            
            .info-text {
                text-align: center;
                color: #000;
                margin-bottom: 0px;
                top:100%;
                padding: 1% 0%;
            }

            .error-msg {
                color: #820502;
                font-size: 1.2px;
            }
            .login-lbl {
                color: #fff; 
                font-size: 1.6em;
            }
            .form-container {
                overflow: hidden;
                
                font-family: "Droid Sans","Helvetica Neue","Helvetica", "Arial","sans-serif";
                background-repeat: no-repeat;
                background-color: #fff;
                background-size: 100% auto;
                -webkit-box-shadow: 6px 16px 21px 0px rgba(0,0,0,1);
                -moz-box-shadow: 6px 16px 21px 0px rgba(0,0,0,1);
                 box-shadow: 6px 16px 21px 0px rgba(0,0,0,1);
                 
            }

           




            @media(min-width:768px) {
                .login-panel {
                    margin: 23% 37%;
                }
            }
            @media(max-width:767px) {
                .login-panel {
                    margin: 28% 17%;
                }
            }